<style>
    .element-hidden {
        display: none;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    audio::-internal-media-controls-download-button {
        display:none!important;
    }
    audio::-webkit-media-controls-enclosure {
        overflow:hidden!important;
    }
    audio::-webkit-media-controls-panel {
        width: calc(150% + 32px); /* Adjust as needed */
    }
    .pad-dem {
        padding-left: 40px;
    }
    .add-margin-top {
        margin-top: 20px;
    }
    body {
        font-family: 'Lato', sans-serif!important;
    }
    b, strong {
        font-weight: 600!important;
    }
    p {
        font-size: 16px;
    }
    .headphones-type > input{ /* HIDE RADIO */
        visibility: hidden; /* Makes input not-clickable */
        position: absolute; /* Remove input from document flow */
    }
    .headphones-type > input + img{ /* IMAGE STYLES */
        cursor:pointer;
        border:2px solid transparent;
    }
    .headphones-type > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
        border:2px solid #019bff;
        border-radius: 8px;
    }
    #myCarousel,#myCarouselnoiseTest,#myCarouselAnchoring {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .previous-next {
        position: absolute;
        top: 55%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
        margin-right: 10%;
        background-color: #337ab7;
    }
    .carousel-control {
        width: 25%!important;
        text-shadow: none;
    }
    .carousel-control.left {
        background-image: none!important;
        text-align: center!important;
    }
    .carousel-control.right {
        background-image: none!important;
        text-align: left!important;
    }
    .carousel-indicators-own {
        bottom: -40px;
        position: absolute;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none;
    }
    .missing-answer{
        border: 1px solid!important;
        border-color: red!important;
        border-width: 2px!important;
    }
    .overEffect:hover {
        background-color: #BFD6E9;
        border-radius: 15px;
        cursor: pointer;
    }
    input[type="radio"]:checked+label{color: black; font-weight: bold!important;}
    .disable-weiter {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5!important;
    }
</style>

<script src="https://use.fontawesome.com/4290394170.js"></script>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://microworkers.com/im/qt/ds/css/mw-surveys.css" rel="stylesheet">

<script type="text/javascript">
    var userIP;
    var userID;
    var orderNo;
    var urlEnv = 'localhost:9000';
    //var urlEnv = 'vm002.qu.tu-berlin.de';
    var amount = 15;
    var mathURL;
    var mathURlArr = [
        "/itut/audio/trappingMath/Math1.mp3",
        "/itut/audio/trappingMath/Math2.mp3",
        "/itut/audio/trappingMath/Math3.mp3",
        "/itut/audio/trappingMath/Math4.mp3",
        "/itut/audio/trappingMath/Math5.mp3",
        "/itut/audio/trappingMath/Math6.mp3"
    ];
    var audioURL = [
        'CH_m1_s2_c27_WB_4xAACq25.48k.wav',
        'CH_m1_s1_c15_Babble16dBSNR_AMR-WBmode0.48k.wav',
        'CH_f2_s2_c07_-46dBASL.48k.wav',
        'CH_f1_s3_c06_-36dBASL.48k.wav',
        'CH_m2_s1_c01.48k.wav'
    ];
    var whiteNoiseFiles = [
        'WhiteNoise_Octfilter500_-46dBov.mp3',
        'WhiteNoise_Octfilter500_-66dBov.mp3',
        'WhiteNoise_Octfilter500_-76dBov.mp3',
        'WhiteNoise_Octfilter1000_-46dBov.mp3',
        'WhiteNoise_Octfilter1000_-66dBov.mp3',
        'WhiteNoise_Octfilter1000_-76dBov.mp3',
        'WhiteNoise_Octfilter4000_-46dBov.mp3',
        'WhiteNoise_Octfilter4000_-66dBov.mp3',
        'WhiteNoise_Octfilter8000_-46dBov.mp3',
        'WhiteNoise_Octfilter8000_-66dBov.mp3'
    ];
    var ausbildungData = {};
    ausbildungData['timeStampA'] = new Date().toISOString();
    ausbildungData['timeSecA'] = new Date().getTime();
</script>
<script type="text/javascript" src="https://l2.io/ip.js?var=userIP"></script>


<div id="warning" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content panel-warning">
            <div class="modal-header panel-heading">
                <h4 class="modal-title mt-dynamic"></h4>
            </div>
            <div class="modal-body mb-dynamic"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div id="onlyOne" class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content panel-primary">
            <div class="modal-body">
                <h4 style="text-align: center;">Entschuldigung, Sie können an dieser Aufgabe nur einmal teilnehmen.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content panel-warning">
            <div class="modal-header panel-heading">
                <span type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                <h4 class="modal-title" id="myModalLabel">Achtung!</h4>
            </div>
            <div class="modal-body">
                <h4>Sorry, you have failed the training/Ausbildung section.</h4>
                <h4>Bitte versuchen Sie es erneut in: <b id="timeLeft"></b> Minuten.</h4>
            </div>
            <div class="modal-footer">
                <span type="button" class="btn btn-default" data-dismiss="modal">Schließen</span>
            </div>
        </div>
    </div>
</div>

<div style="position: relative; top: 65px; z-index: 9000;">
    <label id="showUserID" style="font-size: 12px;"></label>
</div>

<div class="accordion col-xs-8 skeleton center-block" id="collapseLevels" style="float: none;">

    <!-- Welcome -->
    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Herzlich willkommen!</strong></div>
        <div class="panel-body">
            <p>
                Sie wurden ausgewählt, um an unserer Studie zur Sprachqualitätsbewertung teilzunehmen.<br>
                <b>Dies ist ein Trainings-Job.</b> Wenn Sie diesen Job abschließen, erhalten Sie ein Zeitfenster von 60 Minuten.
                Innerhalb dieser Zeit können Sie den Job zur <b>Sprachqualitätsbewertung</b> durchführen, solange dieser verfügbar ist.<br>
                Sobald Sie diesen Trainings-Job abgeschlossen haben, werden Sie automatisch zum Job zur Sprachqualitätsbewertung weitergeleitet.
            </p>
            <strong style="font-size: 16px;">Anforderungen:</strong>
            <ul style="font-size: 16px;">
                <li>Kopfhörer</li>
                <li>Sehr ruhige Umgebung bei der Bearbeitung</li>
            </ul>
        </div>
    </div>

    <!-- Instructions -->
    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Aufgabenanweisungen:</strong></div>
        <div class="panel-body">
            <p>
                Im folgenden Abschnitt ("<b>Lautstärke</b>") haben Sie die Möglichkeit eine einfache Sprachprobe anzuhören, um die Lautstäke Ihres Gerätes anzupassen.
                Danach wird Ihnen eine einfache Matheaufgabe gestellt ("<b>Test-Beispiel</b>") und anschließend haben Sie die Möglichkeit sich unterschiedliche
                Sprachproben ("<b>Sprachbeispiele</b>"), die ähnlich der zu bewertenden Sprachproben im nächsten Abschnitt sind, anzuhören, um zu wissen was Sie erwartet.
                <br>
                <br>
                <b>Achtung: Diese Studie besteht aus insgesamt 14 Durchläufen. Wir möchten Sie bitten, an allen Durchläufen teilzunehmen. Zusammen können Sie somit bis zu € 6 verdienen.</b>
            </p>
            <p>
                Es ist sehr wichtig für unsere Untersuchungen, dass Sie sich für die Dauer der Studie in einem ruhigen Raum befinden.
                Sie sollten sich in einem geschlossenen Raum befinden (nicht draußen oder unterwegs), es dürfen keine Stimmen (auch nicht TV),
                Musik oder andere laute Geräusche von elektrischen Geräten zu hören sein, z.B. Föhn, Staubsauger, Handyklingeln, etc.
                Um gültige Ergebnisse sicherzustellen, möchten wir Sie bitten ihr Einverständnis für den Zugriff auf Ihr Mikrofon zu geben,
                damit wir Ihre Umgebungsgeräusche für bis zu 15 Sekunden während des zweiten Teils der Studie aufnehmen können.
                Diese Daten werden nur für die Qualitätsbewertung benutzt.
            </p>
        </div>
    </div>


    <div class="panel panel-primary" id="kopfhoerer">
        <div class="panel-heading"><strong>Kopfhörer:</strong></div>
        <div class="panel-body">
            <p>Es ist sehr wichtig für unsere Untersuchungen, dass Sie Kopfhörer verwenden (keine Lautsprecher).<br>
                Bitte klicken Sie auf eines der unteren Bilder, um den Typ des Kopfhörers auszuwählen, den Sie für diese Studie verwenden.
            </p>
            <div class="row" style="text-align: center;">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <label class="col-xs-12 headphones-type">
                            <input name="headphonesType" type="radio" value="earbuds"/>
                            <img src="/itut/images/earbuds.png" class="col-xs-7 center-block cursor-pointer" style="float: none;">
                        </label>
                    </div>

                    <div class="col-xs-6">
                        <label class="col-xs-12 headphones-type">
                            <input name="headphonesType" type="radio" value="headphones"/>
                            <img src="/itut/images/headphones.png" class="col-xs-8 center-block cursor-pointer" style="float: none;">
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-primary" id="lautstaerke">
        <div class="panel-heading"><strong>Lautstärke:</strong></div>
        <div class="panel-body">
            <p>
                Bitte hören Sie sich diese Sprachprobe an. Sie können diese so oft abspielen, wie Sie möchten. Stellen Sie die Lautstärke dabei auf ein angenehmes Level ein.<br>
                <b>Achtung: Von diesem Zeitpunkt an, würden wir Sie bitte, die Lautstärke nicht mehr zu verändern, da die Ergebnisse sonst nicht gültig sind.</b>
            </p>

            <div class="col-xs-12" style="text-align: center;">
                <span id="trapAudioVolume" class="fa-stack fa-4x cursor-pointer">
                    <i class="fa fa-circle fa-stack-2x text-muted"></i>
                    <i id="trapAudioVolume-control" class="fa fa-play fa-stack-1x fa-inverse"></i>
                </span>
                <audio id="trapAudioVolume-audio" hidden="hidden"><source src="/itut/audio/lautstaerke/concat_sv56.mp3" type="audio/mp3"></audio>
            </div>

            <input id="audio-volume" name="audioVolume" type="hidden" value="">
        </div>
    </div>

    <!-- Achtung -->
    <div class="panel panel-danger">
        <div class="panel-heading"><strong>ACHTUNG!</strong></div>
        <div class="panel-body">
            <p>
                Nachdem Sie die Lautstärke im "Lautstärke"-Block eingestellt habe, sollte diese nun angenehm laut sein. <br>
                Bitte denken Sie daran im weiteren Verlauf die Lautstärke nicht mehr zu verändern! <br>
                <b>(Auch wenn Sie im "Rauschhörtest"-Block eine Hörprobe nicht hören!) </b>
            </p>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Rauschhörtest:</strong></div>
        <div class="panel-body">

            <p>
                Klicken Sie auf den Play-Button (Wiedergabetaste) um die einzelnen Hörprobe abzuspielen.<br>
                Nachdem Sie jede einzelne Hörproben abgespielt haben, klicken Sie bitte auf "Ja" wenn Sie etwas gehört haben oder auf "Nein" wenn Sie nichts gehört haben.<br>
                Über den blauen Weiter-Knopf kommen Sie zur nächsten Hörprobe.<br>
                <b>Achtung: Ändern Sie bitte die Lautstärke nicht mehr, auch wenn Sie die Hörprobe nicht gehört haben.</b>
            </p>

            <div id="myCarouselnoiseTest" class="carousel slide" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators-own">
                    <div class="num noise-test"></div>
                </ol>

                <!-- Wrapper for slides-->
                <div class="carousel-inner">
                    <div class="item active itemNoiseTest"><div class="row"><div class="col-xs-12"><div id="scale-cont-1-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio1noiseTest" controls><source src="/itut/audio/noiseTest/WhiteNoise_Octfilter500_-46dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-1"><input id="11noiseTest" class="scale1" name="ACR1NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="11noiseTest">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-1"><input id="21noiseTest" class="scale1" name="ACR1NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="21noiseTest">&nbsp;Nein</label></label></p></div></div></div></div><div class="item itemNoiseTest"><div class="row"><div class="col-xs-12"><div id="scale-cont-2-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio2noiseTest" controls><source src="/itut/audio/noiseTest/WhiteNoise_Octfilter500_-66dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-2"><input id="12noiseTest" class="scale2" name="ACR2NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="12noiseTest">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-2"><input id="22noiseTest" class="scale2" name="ACR2NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="22noiseTest">&nbsp;Nein</label></label></p></div></div></div></div><div class="item itemNoiseTest"><div class="row"><div class="col-xs-12"><div id="scale-cont-3-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio3noiseTest" controls><source src="/itut/audio/noiseTest/WhiteNoise_Octfilter500_-76dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-3"><input id="13noiseTest" class="scale3" name="ACR3NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="13noiseTest">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-3"><input id="23noiseTest" class="scale3" name="ACR3NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="23noiseTest">&nbsp;Nein</label></label></p></div></div></div></div><div class="item itemNoiseTest"><div class="row"><div class="col-xs-12"><div id="scale-cont-4-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio4noiseTest" controls><source src="/itut/audio/noiseTest/WhiteNoise_Octfilter1000_-46dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-4"><input id="14noiseTest" class="scale4" name="ACR4NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="14noiseTest">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-4"><input id="24noiseTest" class="scale4" name="ACR4NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="24noiseTest">&nbsp;Nein</label></label></p></div></div></div></div><div class="item itemNoiseTest"><div class="row"><div class="col-xs-12"><div id="scale-cont-5-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio5noiseTest" controls><source src="/itut/audio/noiseTest/WhiteNoise_Octfilter1000_-66dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-5"><input id="15noiseTest" class="scale5" name="ACR5NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="15noiseTest">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-5"><input id="25noiseTest" class="scale5" name="ACR5NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="25noiseTest">&nbsp;Nein</label></label></p></div></div></div></div><div class="item itemNoiseTest"><div class="row"><div class="col-xs-12"><div id="scale-cont-6-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio6noiseTest" controls><source src="/itut/audio/noiseTest/WhiteNoise_Octfilter1000_-76dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-6"><input id="16noiseTest" class="scale6" name="ACR6NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="16noiseTest">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-6"><input id="26noiseTest" class="scale6" name="ACR6NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="26noiseTest">&nbsp;Nein</label></label></p></div></div></div></div><div class="item itemNoiseTest"><div class="row"><div class="col-xs-12"><div id="scale-cont-7-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio7noiseTest" controls><source src="/itut/audio/noiseTest/WhiteNoise_Octfilter4000_-46dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-7"><input id="17noiseTest" class="scale7" name="ACR7NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="17noiseTest">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-7"><input id="27noiseTest" class="scale7" name="ACR7NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="27noiseTest">&nbsp;Nein</label></label></p></div></div></div></div><div class="item itemNoiseTest"><div class="row"><div class="col-xs-12"><div id="scale-cont-8-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio8noiseTest" controls><source src="/itut/audio/noiseTest/WhiteNoise_Octfilter4000_-66dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-8"><input id="18noiseTest" class="scale8" name="ACR8NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="18noiseTest">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-8"><input id="28noiseTest" class="scale8" name="ACR8NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="28noiseTest">&nbsp;Nein</label></label></p></div></div></div></div><div class="item itemNoiseTest"><div class="row"><div class="col-xs-12"><div id="scale-cont-9-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio9noiseTest" controls><source src="/itut/audio/noiseTest/WhiteNoise_Octfilter8000_-46dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-9"><input id="19noiseTest" class="scale9" name="ACR9NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="19noiseTest">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-9"><input id="29noiseTest" class="scale9" name="ACR9NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="29noiseTest">&nbsp;Nein</label></label></p></div></div></div></div><div class="item itemNoiseTest"><div class="row"><div class="col-xs-12"><div id="scale-cont-10-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio10noiseTest" controls><source src="/itut/audio/noiseTest/WhiteNoise_Octfilter8000_-66dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-10"><input id="110noiseTest" class="scale10" name="ACR10NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="110noiseTest">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-10"><input id="210noiseTest" class="scale10" name="ACR10NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="210noiseTest">&nbsp;Nein</label></label></p></div></div></div></div>
                </div>


                <!-- Left and right controls -->
                <a class="left carousel-control noise-test" href="#myCarouselnoiseTest" data-slide="prev" style="display: none;">
                    <span class="btn btn-primary active previous-next">Zurück</span>
                    <span class="sr-only">Zurück</span>
                </a>
                <a id="weiter-btn-noiseTest" class="right carousel-control disable-weiter" href="#myCarouselnoiseTest" data-slide="next">
                    <span class="btn btn-primary active previous-next">Weiter</span>
                    <span class="sr-only">Weiter</span>
                </a>
            </div>

        </div>
    </div>

    <div class="panel panel-primary" id="test-beispiel">
        <div class="panel-heading"><strong>Test-Beispiel:</strong></div>
        <div class="panel-body">
            <p>
                Bitte hören Sie sich dieses Test-Beispiel an. Sie können es so oft abspielen, wie Sie möchten. Geben Sie zur Bestätigung das Ergebnis der genannte Aufgabe ein!<br>
                Bitte wählen Sie ihre Antwort mit Bedacht. Sie erhalten nur Zugang zum zweiten Teil der Studie, wenn Sie die richtige Antwort gegeben haben.
            </p>

            <div class="col-xs-12" style="text-align: center;">
                <span id="trap1" class="fa-stack fa-4x cursor-pointer">
                    <i class="fa fa-circle fa-stack-2x text-muted"></i>
                    <i id="trap1-control" class="fa fa-play fa-stack-1x fa-inverse"></i>
                </span>
                <audio id="trap1-audio" hidden="hidden"><source id="trap1Source" src="" type="audio/mp3"></audio>
            </div>

            <div class="questions-radio">
                <input class="custom-radio" id="math1" name="trap1" type="radio" value="8" disabled><label class="control-label" for="math1"> 8</label>
            </div>
            <div class="questions-radio">
                <input class="custom-radio" id="math2" name="trap1" type="radio" value="3" disabled><label class="control-label" for="math2"> 3</label>
            </div>
            <div class="questions-radio">
                <input class="custom-radio" id="math3" name="trap1" type="radio" value="5" disabled><label class="control-label" for="math3"> 5</label>
            </div>
            <div class="questions-radio">
                <input class="custom-radio" id="math4" name="trap1" type="radio" value="9" disabled><label class="control-label" for="math4"> 9</label>
            </div>
            <div class="questions-radio">
                <input class="custom-radio" id="math5" name="trap1" type="radio" value="6" disabled><label class="control-label" for="math5"> 6</label>
            </div>
            <div class="questions-radio">
                <input class="custom-radio" id="math6" name="trap1" type="radio" value="7" disabled><label class="control-label" for="math6"> 7</label>
            </div>
            <div class="questions-radio">
                <input class="custom-radio" id="math7" name="trap1" type="radio" value="4" disabled><label class="control-label" for="math7"> 4</label>
            </div>

        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><strong>Sprachbeispiele:</strong></div>
        <div class="panel-body">
            <p>
                Nun haben Sie die Möglichkeit sich fünf verschiedene Audiobeispiele anzuhören, damit Sie einen Eindruck von dem Sprachqualitätstest bekommen.<br>
                Klicken Sie auf die Schaltfläche Wiedergabe, um das Audio-Sample abzuspielen, und geben Sie Ihre Meinung auf der zur Verfügung gestellten Skala zur Gesamtqualität der gehörten Sprachprobe ab.<br>
                <br>
                Die "Weiter"-Schaltfläche lässt Sie nur zur nächsten Sprachprobe fortschreiten, nachdem die Sprachprobe abgespielt wurde und Sie Ihrer Meinung über die Qualität auf der Skala abgegeben haben.

            </p>

            <div id="myCarouselAnchoring" class="carousel slide" data-interval="false">
                <!-- Indicators -->
                <ol class="carousel-indicators-own">
                    <div class="num anchoring"></div>
                </ol>

                <!-- Wrapper for slides-->
                <div class="carousel-inner">
                    <div class="item active itemAnchoring"><div class="row"><div class="col-xs-12"><div id="scale-cont-1" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio1" controls><source src="/itut/audio/anchoring/CH_m1_s2_c27_WB_4xAACq25.48k.wav" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect anchoring-1"><input id="11" class="scale1" name="ACR1" type="radio" value="5" disabled="disabled"/><label for="11">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-1"><input id="21" class="scale1" name="ACR1" type="radio" value="4" disabled="disabled"/><label for="21">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-1"><input id="31" class="scale1" name="ACR1" type="radio" value="3" disabled="disabled"/><label for="31">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-1"><input id="41" class="scale1" name="ACR1" type="radio" value="2" disabled="disabled"/><label for="41">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-1"><input id="51" class="scale1" name="ACR1" type="radio" value="1" disabled="disabled"/><label for="51">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item itemAnchoring"><div class="row"><div class="col-xs-12"><div id="scale-cont-2" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio2" controls><source src="/itut/audio/anchoring/CH_m1_s1_c15_Babble16dBSNR_AMR-WBmode0.48k.wav" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect anchoring-2"><input id="12" class="scale2" name="ACR2" type="radio" value="5" disabled="disabled"/><label for="12">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-2"><input id="22" class="scale2" name="ACR2" type="radio" value="4" disabled="disabled"/><label for="22">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-2"><input id="32" class="scale2" name="ACR2" type="radio" value="3" disabled="disabled"/><label for="32">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-2"><input id="42" class="scale2" name="ACR2" type="radio" value="2" disabled="disabled"/><label for="42">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-2"><input id="52" class="scale2" name="ACR2" type="radio" value="1" disabled="disabled"/><label for="52">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item itemAnchoring"><div class="row"><div class="col-xs-12"><div id="scale-cont-3" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio3" controls><source src="/itut/audio/anchoring/CH_f2_s2_c07_-46dBASL.48k.wav" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect anchoring-3"><input id="13" class="scale3" name="ACR3" type="radio" value="5" disabled="disabled"/><label for="13">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-3"><input id="23" class="scale3" name="ACR3" type="radio" value="4" disabled="disabled"/><label for="23">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-3"><input id="33" class="scale3" name="ACR3" type="radio" value="3" disabled="disabled"/><label for="33">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-3"><input id="43" class="scale3" name="ACR3" type="radio" value="2" disabled="disabled"/><label for="43">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-3"><input id="53" class="scale3" name="ACR3" type="radio" value="1" disabled="disabled"/><label for="53">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item itemAnchoring"><div class="row"><div class="col-xs-12"><div id="scale-cont-4" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio4" controls><source src="/itut/audio/anchoring/CH_f1_s3_c06_-36dBASL.48k.wav" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect anchoring-4"><input id="14" class="scale4" name="ACR4" type="radio" value="5" disabled="disabled"/><label for="14">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-4"><input id="24" class="scale4" name="ACR4" type="radio" value="4" disabled="disabled"/><label for="24">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-4"><input id="34" class="scale4" name="ACR4" type="radio" value="3" disabled="disabled"/><label for="34">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-4"><input id="44" class="scale4" name="ACR4" type="radio" value="2" disabled="disabled"/><label for="44">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-4"><input id="54" class="scale4" name="ACR4" type="radio" value="1" disabled="disabled"/><label for="54">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item itemAnchoring"><div class="row"><div class="col-xs-12"><div id="scale-cont-5" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio5" controls><source src="/itut/audio/anchoring/CH_m2_s1_c01.48k.wav" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect anchoring-5"><input id="15" class="scale5" name="ACR5" type="radio" value="5" disabled="disabled"/><label for="15">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-5"><input id="25" class="scale5" name="ACR5" type="radio" value="4" disabled="disabled"/><label for="25">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-5"><input id="35" class="scale5" name="ACR5" type="radio" value="3" disabled="disabled"/><label for="35">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-5"><input id="45" class="scale5" name="ACR5" type="radio" value="2" disabled="disabled"/><label for="45">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect anchoring-5"><input id="55" class="scale5" name="ACR5" type="radio" value="1" disabled="disabled"/><label for="55">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div>
                </div>


                <!-- Left and right controls -->
                <a class="left carousel-control anchoring" href="#myCarouselAnchoring" data-slide="prev" style="display: none;">
                    <span class="btn btn-primary active previous-next">Zurück</span>
                    <span class="sr-only">Zurück</span>
                </a>
                <a id="weiter-btn" class="right carousel-control disable-weiter" href="#myCarouselAnchoring" data-slide="next">
                    <span class="btn btn-primary active previous-next">Weiter</span>
                    <span class="sr-only">Weiter</span>
                </a>
            </div>

        </div>
    </div>


    <!--
    <div id="answer" class="top20 col-xs-12 element-hidden">
        <button class="btn btn-answer btn-primary pull-right">Absenden</button>
    </div>
    -->

    <div id="answer" class="pull-right" style="margin-bottom: 40px;">
        <strong>Klicken Sie bitte auf ‘Start’ um mit dem zweiten Teil der Studie zu beginnen.</strong>
        <br>
        <a id="startStudy" class="btn btn-primary active pull-right" role="button">Start</a>
    </div>
</div>


<script type="text/javascript">

    //var urlRegExp = /.+\?itr\=(\d+)\&user\_id\=(.+)/i;
    let urlRegExp = /.+\?itr\=(\d+)\&user\=(.+)\&user\_id\=(.+)/i;
    userID = urlRegExp.exec(window.location.href);
    console.log(userID);


    if (userID) {
        orderNo = userID[1];
        document.getElementById('showUserID').innerHTML = userID[3];
        window.setTimeout(function(){
            $('#showUserID').toggleClass('element-hidden');
        }, 4000);

        console.log(Math.floor((Math.random() * 5) + 1));
        let trapAudioNode = document.getElementById('trap1-audio');
        let audioTrapSource = document.getElementById('trap1Source');
        mathURL = mathURlArr[Math.floor((Math.random() * 5) + 1)];
        audioTrapSource.src = mathURL;
        trapAudioNode.load();

        let url = 'https://'+urlEnv+'/bewertung/'+amount;
        $.ajax({
            url: url,
            type: 'POST',
            data: '{"workerID":"'+userID[3]+'"}',
            cache: false,
            dataType: 'json',
            contentType: 'application/json',
            processData: false
        }).done(function(data) {
            console.log(data);

            if (data.ausbildung) {
                // trainning is needed, dont do anything and stay here
            } else if (data.ausbildung == null) {
                console.log('you can not continue !!!');
                let elemnt = document.getElementById("collapseLevels");
                elemnt.outerHTML = "";
                delete elemnt;
                let minutesLeft = 60 - Math.ceil(data.minutes);
                document.getElementById('timeLeft').innerHTML = minutesLeft;

                $('#myModal').modal('show');
                $('#myModal').on('hidden.bs.modal', function (e) {
                    window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
                });
            } else if (!data.ausbildung && data.minutes) {
                console.log('redirect to bewertung');
                // redirect to bewertung
                window.location.replace('https://'+urlEnv+'/itut/bewertung?itr='+orderNo+'&user='+userID[2]+'&user_id='+userID[3]);
            } else if (data.done) {
                console.log('list COMPLETED !!!');
                let elemnt = document.getElementById("collapseLevels");
                elemnt.outerHTML = "";
                delete elemnt;
                let p = $("<p style='font-size: 18px;'>Entschuldigen Sie bitte. Es stehen Ihnen keine weiteren Aufgaben zur Verfügung. Alle Aufgaben wurden bereits von Ihnen oder anderen Nutzern abgeschlossen.<br>Vielen Dank für Ihre Teilnahme!</p>");
                $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
                $(".mb-dynamic").html(p);
                $("#warning").modal();
                $('#warning').on('hidden.bs.modal', function (e) {
                    window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
                });
            }

        }).fail(function (error) {
            console.log(error);
            let elemnt = document.getElementById("collapseLevels");
            elemnt.outerHTML = "";
            delete elemnt;
            let p = $("<p style='font-size: 18px;'>Es scheint, dass wir technische Probleme haben.<br>Entschuldigen Sie bitte die Unannehmlichkeiten. Bitte versuchen Sie es später erneut.</p>");
            $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
            $(".mb-dynamic").html(p);
            $("#warning").modal();
            $('#warning').on('hidden.bs.modal', function (e) {
                window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
            });
        });

    } else {
        console.log('you can not continue !!!');
        let elemnt = document.getElementById("collapseLevels");
        elemnt.outerHTML = "";
        delete elemnt;

        let p = $("<p style='font-size: 18px;'>Es scheint, dass Sie die Studie über einen ungültigen Link gestartet haben.<br>Um an der Studie teilzunehmen, klicken Sie bitte einfach den Link auf der Clickworker-Platform an.</p>");
        $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
        $(".mb-dynamic").html(p);
        $("#warning").modal();
        $('#warning').on('hidden.bs.modal', function (e) {
            window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
        });
    }

    $('input[name=headphonesType]').click(function(){
        document.getElementById("kopfhoerer").classList.remove("missing-answer");
    });
    $('input[name=trap1]').click(function(){
        document.getElementById("test-beispiel").classList.remove("missing-answer");
    });

    (function() {

        let startStudyBtn = document.getElementById('startStudy');
        startStudyBtn.onclick = function (e) {

            let currentTime = new Date().getTime();
            let mathTrap = false;

            // first is necessary to check that everything from the Qualification part is answered !!!
            if (/.+\/Math1.+/.test(mathURL)) {
                mathTrap = ($("input[name=trap1]:checked").val() == '7') ? true : false;
            } else if (/.+\/Math2.+/.test(mathURL)) {
                mathTrap = ($("input[name=trap1]:checked").val() == '6') ? true : false;
            } else if (/.+\/Math3.+/.test(mathURL)) {
                mathTrap = ($("input[name=trap1]:checked").val() == '8') ? true : false;
            } else if (/.+\/Math4.+/.test(mathURL)) {
                mathTrap = ($("input[name=trap1]:checked").val() == '5') ? true : false;
            } else if (/.+\/Math5.+/.test(mathURL)) {
                mathTrap = ($("input[name=trap1]:checked").val() == '4') ? true : false;
            } else if (/.+\/Math6.+/.test(mathURL)) {
                mathTrap = ($("input[name=trap1]:checked").val() == '9') ? true : false;
            }

            ausbildungData['userID'] = userID[3];
            ausbildungData['userIP'] = userIP;
            ausbildungData['headphonesType'] = $("input[name=headphonesType]:checked").val();
            ausbildungData['fileMath'] = mathURL;
            ausbildungData['trapMath'] = $("input[name=trap1]:checked").val();
            ausbildungData['trapMathSF'] = mathTrap ? 'SUCCESS' : 'FAIL';
            ausbildungData['trapMathTF'] = mathTrap;
            ausbildungData['timeSecA'] = Math.round((currentTime - ausbildungData['timeSecA']) / 1000);

            let userDataNoise = true;
            let fileRegExp = /Octfilter(\d+)\_(\-\d+)dBov/;
            for (let i=1; i<=whiteNoiseFiles.length; i++) {
                if (!$('input[name=ACR'+i+'NoiseTest]:checked').val()) {
                    $('#myCarouselnoiseTest').carousel(i-1);
                    document.getElementById('scale-cont-'+i+'-noise-test').classList.add("missing-answer");

                    $('input[name=ACR'+i+'NoiseTest]').one("change", function() {
                        document.getElementById('scale-cont-'+i+'-noise-test').classList.remove("missing-answer");
                    });
                    userDataNoise = false;
                    break;
                }

                let fileName = fileRegExp.exec(document.getElementById('audio'+i+'noiseTest').currentSrc);
                ausbildungData[fileName[1]+'Hz'+fileName[2]] = $('input[name=ACR'+i+'NoiseTest]:checked').val();
            }

            let anchoring = true;
            let fileAnchorRegExp = /(.+)\.48k\.wav/;
            for (let i=1; i<=5; i++) {
                if (!$('input[name=ACR'+i+']:checked').val()) {
                    $('#myCarouselAnchoring').carousel(i-1);
                    document.getElementById('scale-cont-'+i).classList.add("missing-answer");

                    $('input[name=ACR'+i+']').one("change", function() {
                        document.getElementById('scale-cont-'+i).classList.remove("missing-answer");
                    });
                    anchoring = false;
                    break;
                }

                let fileName = fileAnchorRegExp.exec(audioURL[i-1]);
                ausbildungData[fileName[1]] = $('input[name=ACR'+i+']:checked').val();
            }

            if (!$("input[name=headphonesType]:checked").val()) {
                document.getElementById("kopfhoerer").classList.add("missing-answer");
                $('html, body, main').animate({ scrollTop: 100 }, 'fast');
                warn_user('warning', 'Bitte wählen Sie aus welchen Kopfhörertyp Sie für diese Studie benutzen?');
            } else if (!$("input[name=audioVolume]").val()) {
                document.getElementById("lautstaerke").classList.add("missing-answer");
                $('html, body, main').animate({ scrollTop: 50 }, 'fast');
                warn_user('warning', 'Sie sollten sich die Sprachprobe anhören und die Lautstärke auf ein angenehmes Level stellen.');
            } else if (!$("input[name=trap1]:checked").val()) {
                document.getElementById("test-beispiel").classList.add("missing-answer");
                $('html, body, main').animate({ scrollTop: 150 }, 'fast');
                warn_user('warning', 'Sie sollten die Antwort zu dem "Test-Beispiel" geben.');
            } else if (!userDataNoise) {
                warn_user('warning', 'Achtung! Bitte hören Sie sich alle Hörproben an und bewerten Sie diese, bevor Sie ihre Antwort senden.');
            } else if (!anchoring) {
                warn_user('warning', 'Bitte hören Sie sich das "Sprachbeispiel" an, bevor sie fortfahren.');
            } else {

                $.ajax({
                    url: 'https://'+urlEnv+'/itut/ausbildung',
                    type: 'POST',
                    data: JSON.stringify(ausbildungData),
                    cache: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false
                }).done(function(data) {
                    if (data.ausbildung == false) {
                        // Redirecting to the bewertung !!!
                        window.location.replace('https://'+urlEnv+'/itut/bewertung?itr='+orderNo+'&user='+userID[2]+'&user_id='+userID[3]);

                    } else if (data.ausbildung == null) {
                        console.log('you can not continue FAILED TRAP MATH !!!');
                        let elemnt = document.getElementById("collapseLevels");
                        elemnt.outerHTML = "";
                        delete elemnt;

                        let p = $("<p style='font-size: 18px;'>Entschuldigen Sie! Sie können den zweiten Teil der Studie nicht starten, da Sie die falsche Antwort gegeben haben.<br>Bitte versuchen Sie es in 60 Minuten erneut.</p>");
                        $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
                        $(".mb-dynamic").html(p);
                        $("#warning").modal();
                        $('#warning').on('hidden.bs.modal', function (e) {
                            window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
                        });
                    }
                    console.log(data);
                }).fail(function (error) {
                    console.log(error);
                    let elemnt = document.getElementById("collapseLevels");
                    elemnt.outerHTML = "";
                    delete elemnt;
                    let p = $("<p style='font-size: 18px;'>Es scheint, dass wir technische Probleme haben.<br>Entschuldigen Sie bitte die Unannehmlichkeiten. Bitte versuchen Sie es später erneut.</p>");
                    $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
                    $(".mb-dynamic").html(p);
                    $("#warning").modal();
                    $('#warning').on('hidden.bs.modal', function (e) {
                        window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
                    });
                });

            }

        };

    })();

    function warn_user(type, msg) {
        var p = $("<p/>");
        var title;

        if (type === 'info') {
            title = "Bitte lesen Sie die Anweisungen sorgfältig";
        }

        if (type === 'error') {
            title = "Etwas ging schief!"
        }
        if (type === 'warning') {
            title = "Bitte lesen Sie die Anweisungen sorgfältig";
        }
        p.text(msg);
        $(".mt-dynamic").text(title);
        $(".mb-dynamic").html(p);
        $("#warning").modal();
    }


</script>


<script type="text/javascript">
    (function() {
        $(document).ready(function(){

            $("#trap1-audio").one('ended', function (e) {
                for (let i=1; i<=7; i++) {
                    document.getElementById("math"+i).disabled = false;
                }
            });
            $(".questions-radio").on('click', function (e) {
                if (!document.getElementById("trap1-audio").ended) {
                    warn_user('warning', 'Achtung! Bitte, hören Sie sich das "Test-Beispiel" an, bevor Sie eine Antwort geben.');
                }
            });

            let trapAudioVolume = document.getElementById('trapAudioVolume'),
                    ctrlAudioVolume = document.getElementById('trapAudioVolume-control'),
                    audioVolume = document.getElementById('trapAudioVolume-audio');

            let trap1 = document.getElementById('trap1'),
                    ctrlTrap1 = document.getElementById('trap1-control'),
                    audioTrap1 = document.getElementById('trap1-audio');

            trapAudioVolume.onclick = function () {
                if (ctrlAudioVolume.className == "fa fa-play fa-stack-1x fa-inverse") {
                    ctrlAudioVolume.className="fa fa-pause fa-stack-1x fa-inverse";
                    audioVolume.play();
                } else if (ctrlAudioVolume.className == "fa fa-pause fa-stack-1x fa-inverse") {
                    ctrlAudioVolume.className="fa fa-play fa-stack-1x fa-inverse";
                    audioVolume.pause();
                }
            };
            audioVolume.addEventListener("ended", function(){
                ctrlAudioVolume.className="fa fa-play fa-stack-1x fa-inverse";
                document.getElementById("audio-volume").value = 'OK';
                document.getElementById("lautstaerke").classList.remove("missing-answer");
            });

            trap1.onclick = function () {
                if (ctrlTrap1.className == "fa fa-play fa-stack-1x fa-inverse") {
                    ctrlTrap1.className="fa fa-pause fa-stack-1x fa-inverse";
                    audioTrap1.play();
                } else if (ctrlTrap1.className == "fa fa-pause fa-stack-1x fa-inverse") {
                    ctrlTrap1.className="fa fa-play fa-stack-1x fa-inverse";
                    audioTrap1.pause();
                }
            };
            audioTrap1.addEventListener("ended", function(){
                ctrlTrap1.className="fa fa-play fa-stack-1x fa-inverse";
            });

            // prevent the user from refreshing the page
            document.onkeydown = function(){
                switch (event.keyCode){
                    case 116 : //F5 button
                        event.returnValue = false;
                        event.keyCode = 0;
                        return false;
                    case 82 : //R button
                        if (event.ctrlKey){
                            event.returnValue = false;
                            event.keyCode = 0;
                            return false;
                        }
                }
            };

            attachOnPlayingEventNoiseTest();
            attachOnPlayingEventAnchoring();

            function attachOnPlayingEventNoiseTest() {
                for (let i=1; i<=10; i++) {
                    let audioNode = document.getElementById('audio'+i+'noiseTest');
                    $('#audio'+i+'noiseTest').on("playing", function() {
                        if (!((!audioNode.ended) && !(audioNode.duration > 0 && !audioNode.paused))) {
                            for (let j=0; j<document.getElementsByClassName("scale"+i).length; j++) {
                                document.getElementsByClassName("scale"+i)[j].disabled = false;
                            }
                        }
                    });

                    $('#audio'+i+'noiseTest').on("ended", function() {
                        console.log('audio ENDED: '+i+' ended!!!');
                        document.getElementById('weiter-btn-noiseTest').classList.remove("disable-weiter");
                    });

                    let supposedCurrentTime = 0;
                    audioNode.addEventListener('timeupdate', function() {
                        if (!audioNode.seeking) {
                            supposedCurrentTime = audioNode.currentTime;
                        }
                    });
                    // prevent user from seeking
                    audioNode.addEventListener('seeking', function() {
                        // guard agains infinite recursion:
                        // user seeks, seeking is fired, currentTime is modified, seeking is fired, current time is modified, ....
                        let delta = audioNode.currentTime - supposedCurrentTime;
                        if (Math.abs(delta) > 0.01) {
                            console.log("Seeking is disabled");
                            audioNode.currentTime = supposedCurrentTime;
                        }
                    });
                    audioNode.addEventListener('ended', function() {
                        // reset state in order to allow for rewind
                        supposedCurrentTime = 0;
                    });

                    $(".noise-radio-"+i).on('click', function (e) {
                        if ((!audioNode.ended) && !(audioNode.duration > 0 && !audioNode.paused)) {
                            e.stopPropagation();
                            warn_user('warning', 'Achtung! Bitte, hören Sie sich die "Hörprobe" an, bevor Sie eine Antwort geben.');
                        }
                    });

                    audioNode.load();
                }
            }

            function attachOnPlayingEventAnchoring() {
                for (let i=1; i<=5; i++) {
                    let audioNode = document.getElementById('audio'+i);

                    $('#audio'+i).on("playing", function() {
                        if (!((!audioNode.ended) && !(audioNode.duration > 0 && !audioNode.paused))) {
                            console.log('audio: '+i+' playing !!!');
                            for (let j=0; j<document.getElementsByClassName("scale"+i).length; j++) {
                                document.getElementsByClassName("scale"+i)[j].disabled = false;
                            }
                        }
                    });
                    $('#audio'+i).on("ended", function() {
                        console.log('audio ENDED: '+i+' ended!!!');
                        document.getElementById('weiter-btn').classList.remove("disable-weiter");
                    });

                    let supposedCurrentTime = 0;
                    audioNode.addEventListener('timeupdate', function() {
                        if (!audioNode.seeking) {
                            supposedCurrentTime = audioNode.currentTime;
                        }
                    });
                    // prevent user from seeking
                    audioNode.addEventListener('seeking', function() {
                        // guard agains infinite recursion:
                        // user seeks, seeking is fired, currentTime is modified, seeking is fired, current time is modified, ....
                        let delta = audioNode.currentTime - supposedCurrentTime;
                        if (Math.abs(delta) > 0.01) {
                            console.log("Seeking is disabled");
                            audioNode.currentTime = supposedCurrentTime;
                        }
                    });
                    audioNode.addEventListener('ended', function() {
                        // reset state in order to allow for rewind
                        supposedCurrentTime = 0;
                    });
                    $(".anchoring-"+i).on('click', function (e) {
                        if ((!audioNode.ended) && !(audioNode.duration > 0 && !audioNode.paused)) {
                            e.stopPropagation();
                            warn_user('warning', 'Achtung! Bitte, hören Sie sich die Sprachprobe an, bevor Sie eine Antwort geben.');
                        }
                    });
                    audioNode.load();
                }
            }

        });
    })();
</script>


<script type="text/javascript">
    (function() {

        var userData = {};
        var jsonData = {};
        var timeStamp;

        function printAudiosNoiseTest_v3() {
            let htmlStr ='';
            let filesArr = [
                'WhiteNoise_Octfilter500_-46dBov.mp3',
                'WhiteNoise_Octfilter500_-66dBov.mp3',
                'WhiteNoise_Octfilter500_-76dBov.mp3',
                'WhiteNoise_Octfilter1000_-46dBov.mp3',
                'WhiteNoise_Octfilter1000_-66dBov.mp3',
                'WhiteNoise_Octfilter1000_-76dBov.mp3',
                'WhiteNoise_Octfilter4000_-46dBov.mp3',
                'WhiteNoise_Octfilter4000_-66dBov.mp3',
                'WhiteNoise_Octfilter8000_-46dBov.mp3',
                'WhiteNoise_Octfilter8000_-66dBov.mp3'
            ];
            let amount = 10;
            for (let i=1; i<=amount; i++) {
                htmlStr = htmlStr + '<div class="item itemNoiseTest">'+
                        '<div class="row">'+
                        '<div class="col-xs-12">'+
                        '<div id="scale-cont-'+i+'-noise-test" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;">'+
                        '<audio id="audio'+i+'noiseTest" controls><source src="/itut/audio/noiseTest/'+filesArr[i-1]+'" type="audio/mp3"></audio>'+
                        '<h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4>'+
                        '<p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-'+i+'"><input id="1'+i+'noiseTest" class="scale'+i+'" name="ACR'+i+'NoiseTest" type="radio" value="Ja" disabled="disabled"/><label for="1'+i+'noiseTest">&nbsp;Ja</label></label></p>' +
                        '<p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-'+i+'"><input id="2'+i+'noiseTest" class="scale'+i+'" name="ACR'+i+'NoiseTest" type="radio" value="Nein" disabled="disabled"/><label for="2'+i+'noiseTest">&nbsp;Nein</label></label></p>' +
                        '</div>'+
                        '</div>'+
                        '</div>'+
                        '</div>';
            }

            console.log('AUDIOS:');
            console.log(htmlStr);
        }

        function printAudios_v3() {
            let htmlStr ='';
            let amount = 4;

            let filesArr = [
                'CH_m1_s2_c27_WB_4xAACq25.48k.wav',
                'CH_m1_s1_c15_Babble16dBSNR_AMR-WBmode0.48k.wav',
                'CH_f2_s2_c07_-46dBASL.48k.wav',
                'CH_f1_s3_c06_-36dBASL.48k.wav',
                'CH_m2_s1_c01.48k.wav'
            ];

            for (let i=1; i<=filesArr.length; i++) {
                htmlStr = htmlStr + '<div class="item itemAnchoring">'+
                        '<div class="row">'+
                        '<div class="col-xs-12">'+
                        '<div id="scale-cont-'+i+'" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;">'+
                        '<audio id="audio'+i+'" controls><source src="/itut/audio/anchoring/'+filesArr[i-1]+'" type="audio/mp3"></audio>'+
                        '<h4>Sprachqualit'+String.fromCharCode(228)+'t:</h4>'+
                        '<label style="position: relative; left: 20px; float: right;">Bewertung</label>'+
                        '<p><label class="col-xs-12 cursor-pointer overEffect anchoring-'+i+'"><input id="1'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="5" disabled="disabled"/><label for="1'+i+'">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p>' +
                        '<p><label class="col-xs-12 cursor-pointer overEffect anchoring-'+i+'"><input id="2'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="4" disabled="disabled"/><label for="2'+i+'">&nbsp;Gut</label><span style="float: right;">4</span></label></p>' +
                        '<p><label class="col-xs-12 cursor-pointer overEffect anchoring-'+i+'"><input id="3'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="3" disabled="disabled"/><label for="3'+i+'">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p>' +
                        '<p><label class="col-xs-12 cursor-pointer overEffect anchoring-'+i+'"><input id="4'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="2" disabled="disabled"/><label for="4'+i+'">&nbsp;D'+String.fromCharCode(252)+'rftig</label><span style="float: right;">2</span></label></p>' +
                        '<p><label class="col-xs-12 cursor-pointer overEffect anchoring-'+i+'"><input id="5'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="1" disabled="disabled"/><label for="5'+i+'">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p>' +
                        '</div>'+
                        '</div>'+
                        '</div>'+
                        '</div>';
            }
            console.log('AUDIOS:');
            console.log(htmlStr);
        }


        $(document).ready(function(){

            /*
            * First the code below for the noise-test
            */
            let totalItems = $('.itemNoiseTest').length;
            let currentIndex = $('div.active.itemNoiseTest').index() + 1;
            console.log('TOTAL ITEMS !!!');
            console.log(totalItems);
            $('.num.noise-test').html(''+currentIndex+'/'+totalItems+'');
            document.getElementById("audio1noiseTest").addEventListener('play', function() {
                if (!document.getElementById("trapAudioVolume-audio").ended) {
                    document.getElementById("audio1noiseTest").pause();
                    document.getElementById("audio1noiseTest").currentTime = 0;
                    document.getElementById("lautstaerke").classList.add("missing-answer");
                    warn_user('warning', 'Achtung! Bitte, hören Sie sich die "Lautstärke" an, und stellen Sie die Lautstärke auf ein angenehmes Niveau ein, bevor Sie den "Rauschhörtest" durchführen.');
                }
            });
            $('#myCarouselnoiseTest').on('slid.bs.carousel', function(event) {
                currentIndex = $('div.active.itemNoiseTest').index() + 1;
                $('.num.noise-test').html(''+currentIndex+'/'+totalItems+'');

                if (event.direction != 'right' && !$('input[name=ACR'+currentIndex+'NoiseTest]:checked').val()) {
                    document.getElementById('weiter-btn-noiseTest').classList.add("disable-weiter");
                } else if ($('input[name=ACR'+currentIndex+'NoiseTest]:checked').val()) {
                    document.getElementById('weiter-btn-noiseTest').classList.remove("disable-weiter");
                }
            });
            $('#weiter-btn-noiseTest').one("click", function() {
                console.log('SHOWING PREVIOUS BTN !!!');
                document.querySelector(".left.carousel-control.noise-test").style.display = 'inline';
                if (document.getElementById('weiter-btn-noiseTest').classList.contains("disable-weiter")) {
                    warn_user('warning', 'Achtung! Bitte hören Sie sich die aktuelle Sprachprobe an und bewerten Sie diese, bevor Sie fortfahren.');
                }
            });

            /*
            * Now the code below for the Anchoring
            */
            let totalItemsAnchor = $('.itemAnchoring').length;
            let currentIndexAnchor = $('div.active.itemAnchoring').index() + 1;
            console.log('TOTAL ITEMS !!!');
            console.log(totalItemsAnchor);
            $('.num.anchoring').html(''+currentIndexAnchor+'/'+totalItemsAnchor+'');
            document.getElementById("audio1").addEventListener('play', function() {
                if (!document.getElementById("trapAudioVolume-audio").ended) {
                    document.getElementById("audio1").pause();
                    document.getElementById("audio1").currentTime = 0;
                    document.getElementById("lautstaerke").classList.add("missing-answer");
                    warn_user('warning', 'Achtung! Bitte, hören Sie sich die "Lautstärke" an, und stellen Sie die Lautstärke auf ein angenehmes Niveau ein, bevor Sie den "Sprachbeispiele" durchführen.');
                }
            });
            $('#myCarouselAnchoring').on('slid.bs.carousel', function(event) {
                currentIndexAnchor = $('div.active.itemAnchoring').index() + 1;
                $('.num.anchoring').html(''+currentIndexAnchor+'/'+totalItemsAnchor+'');

                if (event.direction != 'right' && !$('input[name=ACR'+currentIndexAnchor+']:checked').val()) {
                    document.getElementById('weiter-btn').classList.add("disable-weiter");
                } else if ($('input[name=ACR'+currentIndexAnchor+']:checked').val()) {
                    document.getElementById('weiter-btn').classList.remove("disable-weiter");
                }
            });

            $('#weiter-btn').one("click", function() {
                console.log('SHOWING PREVIOUS BTN !!!');
                document.querySelector(".left.carousel-control.anchoring").style.display = 'inline';
                if (document.getElementById('weiter-btn').classList.contains("disable-weiter")) {
                    warn_user('warning', 'Achtung! Bitte hören Sie sich die aktuelle Sprachprobe an und bewerten Sie diese, bevor Sie fortfahren.');
                }
            });

        });

        timeStamp = new Date().getTime();

        function warn_user(type, msg) {
            var p = $("<p/>");
            var title;

            if (type === 'info') {
                title = "Bitte lesen Sie die Anweisungen sorgfältig";
            }

            if (type === 'error') {
                title = "Etwas ging schief!"
            }
            if (type === 'warning') {
                title = "Bitte lesen Sie die Anweisungen sorgfältig";
            }
            p.text(msg);
            $(".modal-title").text(title);
            $(".modal-body").html(p);
            $("#warning").modal();
        }

        /*
        var answer = [];

        $('.btn-answer').on('click', function(evt) {

            let currentTime = new Date().getTime();
            let jsonDataArr = [];
            let conditionRegExp = /.+\_c(\d{2}).+/;
            let userDataOK = true;
            for (let i=1; i<=5; i++) {
                if (!$('input[name=ACR'+i+']:checked').val()) {
                    $('.carousel').carousel(i-1);
                    document.getElementById('scale-cont-'+i).classList.add("missing-answer");

                    $('input[name=ACR'+i+']').one("change", function() {
                        document.getElementById('scale-cont-'+i).classList.remove("missing-answer");
                    });
                    userDataOK = false;
                    break;
                }
                //let fileName = fileRegExp.exec(audioURLs[i-1]);
                //let condition = conditionRegExp.exec(fileName[1]);

                let fileName = audioURL[i-1];
                let condition = conditionRegExp.exec(audioURL[i-1]);

                jsonDataArr.push(Object.assign({
                    'user': userID[3],
                    'file': fileName,
                    'condition': condition[1],
                    'rating': $('input[name=ACR'+i+']:checked').val(),
                    'trapQx': ' ',
                    'trapQxSF': ' ',
                    'fatigue': $("#fatigue-scale").slider("getValue"),
                    'timeSecQA': Math.round((currentTime - QAData['timeSecQA']) / 1000),
                    'timeStampQA': QAData['timeStampQA'],
                    'userIP': userIP,
                    'envNoise1': QAData['audio1File'],
                    'envNoise9': QAData['audio9File']
                }, qualificationData));
            }



            if (!userDataOK) {
                warn_user('warning', 'Achtung! Bitte hören Sie sich alle Sprachproben an und bewerten Sie diese, bevor Sie ihre Antwort senden.');
            } else if (!userDataFatigueOK) {
                warn_user('warning', 'Achtung! Bitte bewerten Sie die verbleibenden Fragen.<br>Bitte denken Sie daran, dass es nicht möglich ist den Regler in der Mitte (6) zu belassen.');
            } else {
                if (typeof answer != 'undefined') {
                    let code;
                    console.log(jsonDataArr);

                    formPost(ConvertToCSV(jsonDataArr));

                    $.ajax({
                        url: 'https://'+urlEnv+'/results/'+amount,
                        type: 'POST',
                        data: JSON.stringify({results: jsonDataArr, order: orderNo}),
                        cache: false,
                        dataType: 'json',
                        contentType: 'application/json',
                        processData: false
                    }).done(function(data) {
                        code = data.code;

                        executedOnce = true;
                        // scroll the page up
                        $('html, body, main').animate({ scrollTop: 0 }, 'fast');
                        let elemnt = document.getElementById("collapseLevels");
                        elemnt.outerHTML = "";
                        delete elemnt;

                        let byeURL = data.code ? "https://"+urlEnv+"/success/"+code : "https://"+urlEnv+"/fail/";
                        //window.location.replace("https://"+urlEnv+"/success/"+code);
                        window.location.replace(byeURL);

                    }).fail(function (error) {
                        console.log(error);
                    });



                }
                else {
                    warn_user('error', 'Unerwartete Art der Antwort.');
                }
            }

        });

        */
    })();
</script>
