<style>
    .element-hidden {
        display: none;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    audio::-internal-media-controls-download-button {
        display:none!important;
    }
    audio::-webkit-media-controls-enclosure {
        overflow:hidden!important;
    }
    audio::-webkit-media-controls-panel {
        width: calc(150% + 32px);
    }
    body {
        font-family: 'Lato', sans-serif!important;
    }
    b, strong {
        font-weight: 600!important;
    }
    p {
        font-size: 16px;
    }
    #myCarousel {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .previous-next {
        position: absolute;
        top: 55%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
        margin-right: 10%;
        background-color: #337ab7;
    }
    .carousel-control {
        width: 25%!important;
        text-shadow: none;
    }
    .carousel-control.left {
        background-image: none!important;
        text-align: center!important;
    }
    .carousel-control.right {
        background-image: none!important;
        text-align: left!important;
    }
    .carousel-indicators-own {
        bottom: -40px;
        position: absolute;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none;
    }
    .missing-answer{
        border: 1px solid;
        border-color: red;
        border-width: 2px;
    }
    .questions-radio {
        width: 10%;
    }
    .overEffect:hover {
        background-color: #BFD6E9;
        border-radius: 15px;
        cursor: pointer;
    }
    input[type="radio"]:checked+label{color: black; font-weight: bold!important;}
    #ex1Slider .slider-track-low {
        background: #89CDEF;
    }
    #ex1Slider .slider-selection {
        background: #89CDEF;
    }
    #ex1Slider .slider-track-high {
        background: #89CDEF;
    }
    #ex1Slider {
        width: 100%;
    }
    .disable-weiter {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5!important;
    }
    .carousel-control {
        opacity: 1;
    }
</style>
<head>
    <!-- Hotjar Tracking Code for https://crowdcrafting.org -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:617473,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <script>
        (function(h,e,a,t,m,p) {
            m=e.createElement(a);m.async=!0;m.src=t;
            p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
        })(window,document,'script','https://u.heatmap.it/log.js');
    </script>
    <script src="https://use.fontawesome.com/4290394170.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://microworkers.com/im/qt/ds/css/mw-surveys.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/bootstrap-slider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.1/css/bootstrap-slider.min.css" rel="stylesheet">
    <script type="text/javascript">
        var userIP;
        var userID;
        var orderNo;
        var urlEnv = 'localhost:9000';
        //var urlEnv = 'vm002.qu.tu-berlin.de';
        var amount = 15;
        var trapQx = 2;
        var audioUrl;
        /*
        var qualificationData = {};
        qualificationData['timeStampQ'] = new Date().toISOString();
        qualificationData['timeSecQ'] = new Date().getTime();
        */

        var QAData = {};
        QAData['timeSecQAStart'] = new Date().getTime();
        QAData['timeStampQA'] = new Date().toISOString();
        var executedOnce = false;
        var userCount;
    </script>
    <script type="text/javascript" src="https://l2.io/ip.js?var=userIP"></script>
</head>

<div style="position: relative; top: 65px; z-index: 9000;">
    <label id="showUserID" style="font-size: 12px;"></label>
</div>

<div class="accordion col-xs-8 skeleton center-block" id="collapseLevels" style="float: none; margin-top: 100px;">

    <div class="panel">
        <div class="collapse in" id="collapseLevel1">

            <!-- Requirements
            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Anforderungen:</strong></div>
                <div class="panel-body">
                    <ul style="font-size: 16px;">
                        <li>Sehr gute Deutschkenntnisse</li>
                        <li>Kopfhörer</li>
                        <li>Sehr ruhige Umgebung bei der Bearbeitung</li>
                    </ul>
                </div>
            </div>
            -->

            <!-- Instructions -->
            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Aufgabenstellung:</strong></div>
                <div class="panel-body">
                    <p>
                        In diesem Teil der Studie werden Sie sich Sprachproben bestehend aus ein oder zwei Sätzen anhören und die Qualität der Spracheprobe bewerten.<br>
                        Es ist sehr wichtig für unsere Untersuchungen, dass Sie sich für die Dauer der (<b>"Sprachqualitätsbewertung"</b>) in einem <b>ruhigen Raum</b> befinden.
                        Deshalb möchten wir Sie bitten, ihr Einverständnis für den Zugriff auf Ihr Mikrofon zu geben,
                        damit wir Ihre Umgebungsgeräusche für bis zu 15 Sekunden während des Tests aufnehmen können.
                        Diese Daten werden nur für die Qualitätsbewertung benutzt.
                    </p>
                    <!--
                    <p>
                        Sie müssen, um sich die Sprachprobe anhören zu können, den Play-Button (Wiedergabetaste) drücken.
                        Nachdem Sie sich eine Sprachprobe angehört haben, geben Sie bitte ihre Bewertung auf der vorgegeben Skala unter dem Player ab.
                        (Bewertung = Score)
                    </p>
                    -->
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Sprachqualitätsbewertung:</strong></div>
                <div class="panel-body">
                    <p>
                        Klicken Sie auf den Play-Button (Wiedergabetaste) um die einzelnen Sprachprobe abzuspielen. Geben Sie Ihre Bewertung zu der Sprachqualität auf der vorgegebenen Skala unter dem Audioplayer ab.
                        <br>
                        <b>Achtung: Sie können Ihre Bewertung zu den Sprachdateien nur abgegeben nachdem Sie sich, das Sprachsample angehört haben.</b>
                        <br>
                        Nachdem Sie sich die Sprachprobe vollständig angehört haben und Ihre Bewertung auf der Skala abgegeben haben, klicken Sie bitte auf den blauen Weiter-Knopf, um zur nächsten Sprachprobe zu gelangen.
                    </p>

                    <div id="myCarousel" class="carousel slide" data-interval="false">
                        <!-- Indicators -->
                        <ol class="carousel-indicators-own">
                            <div class="num"></div>
                        </ol>

                        <!-- Wrapper for slides-->
                        <div class="carousel-inner">
                            <div class="item active"><div class="row"><div class="col-xs-12"><div id="scale-cont-1" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio1" controls><source id="audio1source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-1"><input id="11" class="scale1" name="ACR1" type="radio" value="5" disabled="disabled"/><label for="11">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-1"><input id="21" class="scale1" name="ACR1" type="radio" value="4" disabled="disabled"/><label for="21">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-1"><input id="31" class="scale1" name="ACR1" type="radio" value="3" disabled="disabled"/><label for="31">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-1"><input id="41" class="scale1" name="ACR1" type="radio" value="2" disabled="disabled"/><label for="41">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-1"><input id="51" class="scale1" name="ACR1" type="radio" value="1" disabled="disabled"/><label for="51">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-2" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio2" controls><source id="audio2source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-2"><input id="12" class="scale2" name="ACR2" type="radio" value="5" disabled="disabled"/><label for="12">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-2"><input id="22" class="scale2" name="ACR2" type="radio" value="4" disabled="disabled"/><label for="22">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-2"><input id="32" class="scale2" name="ACR2" type="radio" value="3" disabled="disabled"/><label for="32">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-2"><input id="42" class="scale2" name="ACR2" type="radio" value="2" disabled="disabled"/><label for="42">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-2"><input id="52" class="scale2" name="ACR2" type="radio" value="1" disabled="disabled"/><label for="52">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-3" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio3" controls><source id="audio3source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-3"><input id="13" class="scale3" name="ACR3" type="radio" value="5" disabled="disabled"/><label for="13">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-3"><input id="23" class="scale3" name="ACR3" type="radio" value="4" disabled="disabled"/><label for="23">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-3"><input id="33" class="scale3" name="ACR3" type="radio" value="3" disabled="disabled"/><label for="33">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-3"><input id="43" class="scale3" name="ACR3" type="radio" value="2" disabled="disabled"/><label for="43">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-3"><input id="53" class="scale3" name="ACR3" type="radio" value="1" disabled="disabled"/><label for="53">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-4" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio4" controls><source id="audio4source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-4"><input id="14" class="scale4" name="ACR4" type="radio" value="5" disabled="disabled"/><label for="14">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-4"><input id="24" class="scale4" name="ACR4" type="radio" value="4" disabled="disabled"/><label for="24">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-4"><input id="34" class="scale4" name="ACR4" type="radio" value="3" disabled="disabled"/><label for="34">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-4"><input id="44" class="scale4" name="ACR4" type="radio" value="2" disabled="disabled"/><label for="44">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-4"><input id="54" class="scale4" name="ACR4" type="radio" value="1" disabled="disabled"/><label for="54">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-5" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio5" controls><source id="audio5source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-5"><input id="15" class="scale5" name="ACR5" type="radio" value="5" disabled="disabled"/><label for="15">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-5"><input id="25" class="scale5" name="ACR5" type="radio" value="4" disabled="disabled"/><label for="25">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-5"><input id="35" class="scale5" name="ACR5" type="radio" value="3" disabled="disabled"/><label for="35">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-5"><input id="45" class="scale5" name="ACR5" type="radio" value="2" disabled="disabled"/><label for="45">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-5"><input id="55" class="scale5" name="ACR5" type="radio" value="1" disabled="disabled"/><label for="55">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-6" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio6" controls><source id="audio6source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-6"><input id="16" class="scale6" name="ACR6" type="radio" value="5" disabled="disabled"/><label for="16">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-6"><input id="26" class="scale6" name="ACR6" type="radio" value="4" disabled="disabled"/><label for="26">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-6"><input id="36" class="scale6" name="ACR6" type="radio" value="3" disabled="disabled"/><label for="36">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-6"><input id="46" class="scale6" name="ACR6" type="radio" value="2" disabled="disabled"/><label for="46">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-6"><input id="56" class="scale6" name="ACR6" type="radio" value="1" disabled="disabled"/><label for="56">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-7" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio7" controls><source id="audio7source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-7"><input id="17" class="scale7" name="ACR7" type="radio" value="5" disabled="disabled"/><label for="17">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-7"><input id="27" class="scale7" name="ACR7" type="radio" value="4" disabled="disabled"/><label for="27">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-7"><input id="37" class="scale7" name="ACR7" type="radio" value="3" disabled="disabled"/><label for="37">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-7"><input id="47" class="scale7" name="ACR7" type="radio" value="2" disabled="disabled"/><label for="47">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-7"><input id="57" class="scale7" name="ACR7" type="radio" value="1" disabled="disabled"/><label for="57">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-8" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio8" controls><source id="audio8source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-8"><input id="18" class="scale8" name="ACR8" type="radio" value="5" disabled="disabled"/><label for="18">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-8"><input id="28" class="scale8" name="ACR8" type="radio" value="4" disabled="disabled"/><label for="28">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-8"><input id="38" class="scale8" name="ACR8" type="radio" value="3" disabled="disabled"/><label for="38">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-8"><input id="48" class="scale8" name="ACR8" type="radio" value="2" disabled="disabled"/><label for="48">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-8"><input id="58" class="scale8" name="ACR8" type="radio" value="1" disabled="disabled"/><label for="58">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-9" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio9" controls><source id="audio9source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-9"><input id="19" class="scale9" name="ACR9" type="radio" value="5" disabled="disabled"/><label for="19">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-9"><input id="29" class="scale9" name="ACR9" type="radio" value="4" disabled="disabled"/><label for="29">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-9"><input id="39" class="scale9" name="ACR9" type="radio" value="3" disabled="disabled"/><label for="39">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-9"><input id="49" class="scale9" name="ACR9" type="radio" value="2" disabled="disabled"/><label for="49">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-9"><input id="59" class="scale9" name="ACR9" type="radio" value="1" disabled="disabled"/><label for="59">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-10" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio10" controls><source id="audio10source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-10"><input id="110" class="scale10" name="ACR10" type="radio" value="5" disabled="disabled"/><label for="110">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-10"><input id="210" class="scale10" name="ACR10" type="radio" value="4" disabled="disabled"/><label for="210">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-10"><input id="310" class="scale10" name="ACR10" type="radio" value="3" disabled="disabled"/><label for="310">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-10"><input id="410" class="scale10" name="ACR10" type="radio" value="2" disabled="disabled"/><label for="410">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-10"><input id="510" class="scale10" name="ACR10" type="radio" value="1" disabled="disabled"/><label for="510">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-11" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio11" controls><source id="audio11source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-11"><input id="111" class="scale11" name="ACR11" type="radio" value="5" disabled="disabled"/><label for="111">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-11"><input id="211" class="scale11" name="ACR11" type="radio" value="4" disabled="disabled"/><label for="211">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-11"><input id="311" class="scale11" name="ACR11" type="radio" value="3" disabled="disabled"/><label for="311">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-11"><input id="411" class="scale11" name="ACR11" type="radio" value="2" disabled="disabled"/><label for="411">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-11"><input id="511" class="scale11" name="ACR11" type="radio" value="1" disabled="disabled"/><label for="511">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-12" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio12" controls><source id="audio12source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-12"><input id="112" class="scale12" name="ACR12" type="radio" value="5" disabled="disabled"/><label for="112">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-12"><input id="212" class="scale12" name="ACR12" type="radio" value="4" disabled="disabled"/><label for="212">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-12"><input id="312" class="scale12" name="ACR12" type="radio" value="3" disabled="disabled"/><label for="312">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-12"><input id="412" class="scale12" name="ACR12" type="radio" value="2" disabled="disabled"/><label for="412">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-12"><input id="512" class="scale12" name="ACR12" type="radio" value="1" disabled="disabled"/><label for="512">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-13" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio13" controls><source id="audio13source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-13"><input id="113" class="scale13" name="ACR13" type="radio" value="5" disabled="disabled"/><label for="113">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-13"><input id="213" class="scale13" name="ACR13" type="radio" value="4" disabled="disabled"/><label for="213">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-13"><input id="313" class="scale13" name="ACR13" type="radio" value="3" disabled="disabled"/><label for="313">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-13"><input id="413" class="scale13" name="ACR13" type="radio" value="2" disabled="disabled"/><label for="413">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-13"><input id="513" class="scale13" name="ACR13" type="radio" value="1" disabled="disabled"/><label for="513">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-14" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio14" controls><source id="audio14source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-14"><input id="114" class="scale14" name="ACR14" type="radio" value="5" disabled="disabled"/><label for="114">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-14"><input id="214" class="scale14" name="ACR14" type="radio" value="4" disabled="disabled"/><label for="214">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-14"><input id="314" class="scale14" name="ACR14" type="radio" value="3" disabled="disabled"/><label for="314">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-14"><input id="414" class="scale14" name="ACR14" type="radio" value="2" disabled="disabled"/><label for="414">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-14"><input id="514" class="scale14" name="ACR14" type="radio" value="1" disabled="disabled"/><label for="514">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-15" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio15" controls><source id="audio15source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-15"><input id="115" class="scale15" name="ACR15" type="radio" value="5" disabled="disabled"/><label for="115">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-15"><input id="215" class="scale15" name="ACR15" type="radio" value="4" disabled="disabled"/><label for="215">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-15"><input id="315" class="scale15" name="ACR15" type="radio" value="3" disabled="disabled"/><label for="315">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-15"><input id="415" class="scale15" name="ACR15" type="radio" value="2" disabled="disabled"/><label for="415">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-15"><input id="515" class="scale15" name="ACR15" type="radio" value="1" disabled="disabled"/><label for="515">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-16" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio16" controls><source id="audio16source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-16"><input id="116" class="scale16" name="ACR16" type="radio" value="5" disabled="disabled"/><label for="116">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-16"><input id="216" class="scale16" name="ACR16" type="radio" value="4" disabled="disabled"/><label for="216">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-16"><input id="316" class="scale16" name="ACR16" type="radio" value="3" disabled="disabled"/><label for="316">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-16"><input id="416" class="scale16" name="ACR16" type="radio" value="2" disabled="disabled"/><label for="416">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-16"><input id="516" class="scale16" name="ACR16" type="radio" value="1" disabled="disabled"/><label for="516">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-17" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><audio id="audio17" controls><source id="audio17source" src="" type="audio/mp3"></audio><h4>Sprachqualität:</h4><label style="position: relative; left: 20px; float: right;">Bewertung</label><p><label class="col-xs-12 cursor-pointer overEffect assessment-17"><input id="117" class="scale17" name="ACR17" type="radio" value="5" disabled="disabled"/><label for="117">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-17"><input id="217" class="scale17" name="ACR17" type="radio" value="4" disabled="disabled"/><label for="217">&nbsp;Gut</label><span style="float: right;">4</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-17"><input id="317" class="scale17" name="ACR17" type="radio" value="3" disabled="disabled"/><label for="317">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-17"><input id="417" class="scale17" name="ACR17" type="radio" value="2" disabled="disabled"/><label for="417">&nbsp;Dürftig</label><span style="float: right;">2</span></label></p><p><label class="col-xs-12 cursor-pointer overEffect assessment-17"><input id="517" class="scale17" name="ACR17" type="radio" value="1" disabled="disabled"/><label for="517">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-1521" class="col-xs-6  center-block" style="float: none; margin-bottom: 20px; height: 245px;"><h4 style="line-height: inherit;">Bitte bewerten Sie, wie erschöpft Sie zum derzeitigen Moment sind. Benutzen Sie dazu bitte die nachfolgende Skala von 1 bis 11.<br>Ein Bewertung von 1 bedeutet, dass Sie sich überhaupt nicht erschöpft fühlen und eine Bewertung von 11 bedeutet, dass Sie sich extrem erschöpft fühlen.</h4><b>Achtung: Sie dürfen den Regler nicht in der Mitte der Skala (6) belassen.</b><p style="margin-top: 10px;"><label style="float: left;">1</label><label style="float: right;">11</label></p><input id="fatigue-scale" data-slider-id="ex1Slider" type="text" data-slider-min="1" data-slider-max="11" data-slider-step="1" data-slider-value="6"/><p><label style="float: left;">überhaupt nicht (erschöpft)</label><label style="float: right;">extrem (erschöpft)</label></p></div></div></div></div>
                        </div>


                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="display: none;">
                            <span class="btn btn-primary active previous-next">Zurück</span>
                            <span class="sr-only">Zurück</span>
                        </a>
                        <a id="weiter-btn" class="right carousel-control disable-weiter" href="#myCarousel" data-slide="next">
                            <span class="btn btn-primary active previous-next">Weiter</span>
                            <span class="sr-only">Weiter</span>
                        </a>
                    </div>

                </div>
            </div>

            <div id="answer" class="top20 col-xs-12" style="display: none; margin-bottom: 40px;">
                <p class="col-md-offset-5" style="text-align: right; font-size: 16px; width: 60%;">Wenn Sie alle Bewertungen abgeschlossen haben, drücken Sie bitte den Absenden-Knopf unter dieser Nachricht, um alle Antworten zu senden.</p>
                <button class="btn btn-answer btn-primary active pull-right" style="background-color: #337ab7; color: white;">Absenden</button>
            </div>

        </div>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content panel-warning">
            <div class="modal-header panel-heading">
                <span type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                <h4 class="modal-title" id="myModalLabel">Achtung!</h4>
            </div>
            <div class="modal-body">
                <h4>Sorry, you have failed the training/Ausbildung section.</h4>
                <h4>Bitte versuchen Sie es erneut in: <b id="timeLeft"></b> Minuten.</h4>
            </div>
            <div class="modal-footer">
                <span type="button" class="btn btn-default" data-dismiss="modal">Schließen</span>
            </div>
        </div>
    </div>
</div>

<div id="warning" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content panel-warning">
            <div class="modal-header panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title mt-dynamic"></h4>
            </div>
            <div class="modal-body mb-dynamic"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    // var code = ["rYQLNR9t3VCFBg46","4t8D823S5a7W86j6","umkjDxrAThpPQfV9","L9tm7iu7D3QSZ3H9","3cArsK2yHmmzH8xB","JVMQ8L35bg6e8GE2","J76j4gNa2SvC44C5","u3A8cKURtqf365wp","Ww9JCpnZ6L49E3Tp","9Wzd3V892E898Wu3","Q5ts4bvo8kV8u4RX","24fcJhm7Z7a45YbT","52guStC6E2f9Yeqw","d7KkB8UiBRE66sk3"];
    // var jobsGroup = {};

    /*
    var allWorkersArr = {};
    for (let i=0; i<jobsGroup.length; i++) {
        //console.log(jobsGroup.i);
        allWorkersArr[jobsGroup[i]._id] = {'files': jobsGroup[i].fileName};
    }
    console.log(JSON.stringify(allWorkersArr));
    */


    /*
    var i=0;
    for (var key in jobsGroup) {
        //jobsGroup[key].trapQx = trapQx[i];
        jobsGroup[key].code = code[i];
        i++;
        if (i>=14) {i=0;}
    }
    console.log(JSON.stringify(jobsGroup));
    */


    var urlRegExp = /.+\?itr\=(\d+)\&user\=(.+)\&user\_id\=(.+)/i;
    userID = urlRegExp.exec(window.location.href);
    console.log(userID);

    let internetExplorer = false;
    if (navigator.appName == 'Microsoft Internet Explorer' || !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) || (typeof $.browser !== "undefined" && $.browser.msie == 1)) {
        internetExplorer = true;

        let elemnt = document.getElementById("collapseLevels");
        elemnt.outerHTML = "";
        delete elemnt;

        let p = $("<p style='font-size: 20px; text-align: center;'>Entschuldigung, diese Studie ist nicht für den Internet Explorer optimiert. Wir empfehlen Ihnen, einen anderen Browser zu verwenden (Chrome, Firefox, Microsoft Edge, Opera etc.).</p>");
        $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig!");
        $(".mb-dynamic").html(p);
        $("#warning").modal();
        $('#warning').on('hidden.bs.modal', function (e) {
            window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
        });
    }

    if (userID && !internetExplorer) {
        orderNo = userID[1];
        document.getElementById('showUserID').innerHTML = userID[3];
        window.setTimeout(function(){
            $('#showUserID').toggleClass('element-hidden');
        }, 5000);

        let url = 'https://'+urlEnv+'/bewertung/'+amount;
        $.ajax({
            url: url,
            type: 'POST',
            data: '{"workerID":"'+userID[3]+'"}',
            cache: false,
            dataType: 'json',
            contentType: 'application/json',
            processData: false
        }).done(function(data) {
            console.log(data);
            if (data.done) {
                console.log('list COMPLETED !!!');
                let elemnt = document.getElementById("collapseLevels");
                elemnt.outerHTML = "";
                delete elemnt;
                let p = $("<p style='font-size: 18px;'>Entschuldigen Sie bitte. Es stehen Ihnen keine weiteren Aufgaben zur Verfügung. Alle Aufgaben wurden bereits von Ihnen oder anderen Nutzern abgeschlossen.<br>Vielen Dank für Ihre Teilnahme!</p>");
                $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
                $(".mb-dynamic").html(p);
                $("#warning").modal();
                $('#warning').on('hidden.bs.modal', function (e) {
                    window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
                });
            } else if (data.ausbildung) {
                // Redirecting to the trainning !!!
                window.location.replace('https://'+urlEnv+'/itut/ausbildung?itr='+orderNo+'&user='+userID[2]+'&user_id='+userID[3]);

            } else if (data.status) {
                console.log('YOU CAN CONTINUE !!!');
                console.log(data);
                userCount = data.count;

                url = 'https://'+urlEnv+'/bewertung/data/'+amount;
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: '{"workerID":"'+userID[3]+'", "count": "'+data.count+'"}',
                    cache: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false
                }).done(function(data) {
                    console.log(data);
                    audioUrl = data.files;


                }).fail(function (error) {
                    console.log(error);
                    let elemnt = document.getElementById("collapseLevels");
                    elemnt.outerHTML = "";
                    delete elemnt;
                    let p = $("<p style='font-size: 18px;'>Es scheint, dass wir technische Probleme haben.<br>Entschuldigen Sie bitte die Unannehmlichkeiten. Bitte versuchen Sie es später erneut.</p>");
                    $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
                    $(".mb-dynamic").html(p);
                    $("#warning").modal();
                    $('#warning').on('hidden.bs.modal', function (e) {
                        window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
                    });
                });

            } else {

                // redirect to training just in case
                window.location.replace('https://'+urlEnv+'/itut/ausbildung?itr='+orderNo+'&user='+userID[2]+'&user_id='+userID[3]);
                /*
                console.log('you can not continue !!!');
                let elemnt = document.getElementById("collapseLevels");
                elemnt.outerHTML = "";
                delete elemnt;
                let minutesLeft = 60 - Math.ceil(data.minutes);
                document.getElementById('timeLeft').innerHTML = minutesLeft;
                $('#myModal').modal('show');
                $('#myModal').on('hidden.bs.modal', function (e) {
                    window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
                });
                */
            }
        }).fail(function (error) {
            console.log(error);
            let elemnt = document.getElementById("collapseLevels");
            elemnt.outerHTML = "";
            delete elemnt;
            let p = $("<p style='font-size: 18px;'>Es scheint, dass wir technische Probleme haben.<br>Entschuldigen Sie bitte die Unannehmlichkeiten. Bitte versuchen Sie es später erneut.</p>");
            $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
            $(".mb-dynamic").html(p);
            $("#warning").modal();
            $('#warning').on('hidden.bs.modal', function (e) {
                window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
            });
        });

    } else {
        console.log('you can not continue !!!');
        let elemnt = document.getElementById("collapseLevels");
        elemnt.outerHTML = "";
        delete elemnt;

        //let p = $("<p style='font-size: 18px;'>It seems that you have acceded to our study from a corrupted link.<br>In order to participate on our study, please just click on the link provided on the clickworker platform.</p>");
        let p = $("<p style='font-size: 18px;'>Es scheint, dass Sie die Studie über einen ungültigen Link gestartet haben.<br>Um an der Studie teilzunehmen, klicken Sie bitte einfach den Link auf der Clickworker-Platform an.</p>");
        $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
        $(".mb-dynamic").html(p);
        $("#warning").modal();
        $('#warning').on('hidden.bs.modal', function (e) {
            window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
        });
    }

    function warn_user(type, msg) {
        var p = $("<p/>");
        var title;

        if (type === 'info') {
            title = "Bitte lesen Sie die Anweisungen sorgfältig";
        }

        if (type === 'error') {
            title = "Etwas ging schief!"
        }
        if (type === 'warning') {
            title = "Bitte lesen Sie die Anweisungen sorgfältig";
        }
        p.text(msg);
        $(".mt-dynamic").text(title);
        $(".mb-dynamic").html(p);
        $("#warning").modal();
    }

</script>


<script type="text/javascript">
    (function() {
        $(document).ready(function(){

            // prevent the user from refreshing the page
            document.onkeydown = function(){
                switch (event.keyCode){
                    case 116 : //F5 button
                        event.returnValue = false;
                        event.keyCode = 0;
                        return false;
                    case 82 : //R button
                        if (event.ctrlKey){
                            event.returnValue = false;
                            event.keyCode = 0;
                            return false;
                        }
                }
            };

        });
    })();
</script>


<!-- From the Quality Assessment Template 2nd Part -->
<script type="text/javascript">

    function recordEnvironment (audioID) {
        //document.getElementById(audioID).addEventListener("playing", recordFunc(audioID, environmentNoise), false);

        $('#'+audioID).one("playing", function() {

            // request permission to access audio stream
            navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => {
                // store streaming data chunks in array
                const chunks = [];
                // create media recorder instance to initialize recording
                const recorder = new MediaRecorder(stream);
                // function to be called when data is received
                recorder.ondataavailable = e => {
                    // add stream data to chunks
                    chunks.push(e.data);
                    // if recorder is 'inactive' then recording has finished
                    if (recorder.state == 'inactive') {
                        // convert stream data chunks to a 'webm' audio format as a blob
                        //const blob = new Blob(chunks, { type: 'audio/webm' });
                        let audioExt;

                        const blob = (MediaRecorder.isTypeSupported('audio/webm;codecs=opus')) ? new Blob(chunks, { type: 'audio/webm' }) : new Blob(chunks, { type: 'audio/ogg' });
                        audioExt = (MediaRecorder.isTypeSupported('audio/webm;codecs=opus')) ? 'webm' : 'ogg';
                        formPost(blob, audioID, audioExt);
                    }
                };
                // start recording with 1 second time between receiving 'ondataavailable' events
                recorder.start(1000);
                // setTimeout to stop recording after 4 seconds
                setTimeout(() => {
                    // this will trigger one final 'ondataavailable' event and set recorder state to 'inactive'
                    recorder.stop();
                }, 7500);
            }).catch(console.error);

        });
    }


    function formPost(blobFile, audioID, audioExt) {

        let uniqId = (new Date().getTime()).toString();
        QAData[audioID+'File'] = userID[3]+'_'+uniqId+'.'+audioExt;

        let formData = new FormData();
        formData.append('key', 'environmentNoise'+amount+'/'+userID[3]+'_'+uniqId+'.'+audioExt);
        formData.append('file', blobFile);

        $.ajax({
            url: 'https://numberstimuli.s3.amazonaws.com',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false
        }).done(function(data) {
            console.log(data);
        }).fail(function (error) {
            console.log(error);
        });
    }

    recordEnvironment("audio1");
    recordEnvironment("audio9");
</script>


<script type="text/javascript">
    (function() {

        var userData = {};
        var jsonData = {};
        var timeStamp;

        /*
        var databaseURL = ["https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c12_20percFrameLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c27_WB_4xAACq25.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c27_WB_4xAACq25.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c27_WB_4xAACq25.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c50_Hoth14dBSNR_clipped_AACq30.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c04_MNRU10dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c04_MNRU10dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c12_20percFrameLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c27_WB_4xAACq25.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c50_Hoth14dBSNR_clipped_AACq30.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c50_Hoth14dBSNR_clipped_AACq30.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c04_MNRU10dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c12_20percFrameLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c50_Hoth14dBSNR_clipped_AACq30.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c12_20percFrameLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c04_MNRU10dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c26_WB_AACq25.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c26_WB_AACq25.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c47_Babble16dBSNR_Skype_2xTor_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c49_Babble16dBSNR_Skype_2xTor_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c49_Babble16dBSNR_Skype_2xTor_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c35_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c26_WB_AACq25.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c24_HothNoise16dBSNR_noPhoneNS_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c26_WB_AACq25.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c43_Skype_2xTor.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c47_Babble16dBSNR_Skype_2xTor_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c34_AACq30_5percSimPktLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c46_Skype_2xTor_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c48_Babble16dBSNR_Skype_2xTor_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c44_Skype_2xTor_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c48_Babble16dBSNR_Skype_2xTor_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c49_Babble16dBSNR_Skype_2xTor_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c21_Hoth14dBSNR_AACq30_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c24_HothNoise16dBSNR_noPhoneNS_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c24_HothNoise16dBSNR_noPhoneNS_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c34_AACq30_5percSimPktLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c47_Babble16dBSNR_Skype_2xTor_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c37_HothNoise16dBSNR_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c44_Skype_2xTor_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c15_Babble16dBSNR_AMR-WBmode0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c21_Hoth14dBSNR_AACq30_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c33_HothNoise16dBSNR_EFRlive.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c49_Babble16dBSNR_Skype_2xTor_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c28_Babble16dBSNR_AMR-NBmode5_CEP-NR_AMR-NBmode5.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c32_GSM2L_acoustRcv_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c34_AACq30_5percSimPktLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c34_AACq30_5percSimPktLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c48_Babble16dBSNR_Skype_1xTor_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c21_Hoth14dBSNR_AACq30_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c24_HothNoise16dBSNR_noPhoneNS_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c37_HothNoise16dBSNR_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c37_HothNoise16dBSNR_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c35_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c36_HothNoise16dBSNR_noPhoneNS_EFRlive.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c45_Skype_2xTor_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c02_Hoth12dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c15_Babble16dBSNR_AMR-WBmode0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c28_Babble16dBSNR_AMR-NBmode5_CEP-NR_AMR-NBmode5.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c33_HothNoise16dBSNR_EFRlive.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c36_HothNoise16dBSNR_noPhoneNS_EFRlive.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c02_Hoth12dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c42_VideoCallLive_P920toN80_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c02_Hoth12dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c23_HothNoise16dBSNR_PhoneNS_N80toISDN_AMR-NB.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c32_GSM2L_acoustRcv_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c17_Babble16dBSNR_AMR-WBmode2_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c23_HothNoise16dBSNR_PhoneNS_N80toISDN_AMR-NB.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c23_HothNoise16dBSNR_PhoneNS_N80toISDN_AMR-NB.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c33_HothNoise16dBSNR_EFRlive.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c36_HothNoise16dBSNR_noPhoneNS_EFRlive.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c09_500-2500HzBP.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c21_Hoth14dBSNR_AACq30_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c02_Hoth12dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c32_GSM2L_acoustRcv_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c15_Babble16dBSNR_AMR-WBmode0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c23_HothNoise16dBSNR_PhoneNS_N80toISDN_AMR-NB.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c28_Babble16dBSNR_AMR-NBmode5_CEP-NR_AMR-NBmode5.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c31_GSM2L_acoustRcv_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c36_HothNoise16dBSNR_noPhoneNS_EFRlive.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c09_500-2500HzBP.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c17_Babble16dBSNR_AMR-WBmode2_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c28_Babble16dBSNR_AMR-NBmode5_CEP-NR_AMR-NBmode5.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c39_VideoCallLive_N80toN80.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c17_Babble16dBSNR_AMR-WBmode2_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c22_AACq30_-36dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c30_GSM2L_elClipped_acoustRcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c37_HothNoise16dBSNR_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c09_500-2500HzBP.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c30_GSM2L_elClipped_acoustRcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c32_GSM2L_acoustRcv_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c35_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c15_Babble16dBSNR_AMR-WBmode0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c17_Babble16dBSNR_AMR-WBmode2_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c39_VideoCallLive_N80toN80.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c05_MNRU25dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c22_AACq30_-36dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c33_HothNoise16dBSNR_EFRlive.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c42_VideoCallLive_P920toN80_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c46_Skype_2xTor_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c16_Babble16dBSNR_AMR-WBmode2.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c16_Babble16dBSNR_AMR-WBmode2.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c44_Skype_2xTor_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c45_Skype_2xTor_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c35_EFRlive_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c43_Skype_2xTor.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c16_Babble16dBSNR_AMR-WBmode2.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c47_Babble16dBSNR_Skype_2xTor_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c05_MNRU25dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c29_GSM2L_acoustRcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c38_VideoCallLive_P920toN80.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c39_VideoCallLive_N80toN80.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c05_MNRU25dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c09_500-2500HzBP.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c29_GSM2L_acoustRcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c41_VideoCallLive_P920toN80_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c13_AMR-WBmode0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c13_AMR-WBmode0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c13_AMR-WBmode0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c38_VideoCallLive_P920toN80.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c43_Skype_2xTor.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c30_GSM2L_elClipped_acoustRcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c31_GSM2L_acoustRcv_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c07_-46dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c13_AMR-WBmode0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c41_VideoCallLive_P920toN80_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c44_Skype_2xTor_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c22_AACq30_-36dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c29_GSM2L_acoustRcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c30_GSM2L_elClipped_acoustRcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c07_-46dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c38_VideoCallLive_P920toN80.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c40_VideoCallLive_P920toN80_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c07_-46dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c22_AACq30_-36dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c40_VideoCallLive_P920toN80_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c16_Babble16dBSNR_AMR-WBmode2.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c31_GSM2L_acoustRcv_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c39_VideoCallLive_N80toN80.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c03_Babble20dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c07_-46dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c29_GSM2L_acoustRcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c41_VideoCallLive_P920toN80_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c11_2percFrameLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c18_AMR-NB_mode5.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c31_GSM2L_acoustRcv_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c42_VideoCallLive_P920toN80_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c46_Skype_2xTor_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c03_Babble20dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c03_Babble20dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c20_EVRC-WB_OP3.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c18_AMR-NB_mode5.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c42_VideoCallLive_P920toN80_-42dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c45_Skype_2xTor_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c45_Skype_2xTor_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c46_Skype_2xTor_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c05_MNRU25dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c19_EVRC-B_OP0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c25_ISDNtoN80_AMR-NB_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c38_VideoCallLive_P920toN80.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c40_VideoCallLive_P920toN80_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c48_Babble16dBSNR_Skype_2xTor_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c19_EVRC-B_OP0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c18_AMR-NB_mode5.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c20_EVRC-WB_OP3.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c25_ISDNtoN80_AMR-NB_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c18_AMR-NB_mode5.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c41_VideoCallLive_P920toN80_-34dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c25_ISDNtoN80_AMR-NB_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c03_Babble20dBSNR.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s2_c10_100-5000HzBP.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c40_VideoCallLive_P920toN80_-21dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s2_c10_100-5000HzBP.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c14_AMR-WBmode2.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c19_EVRC-B_OP0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s4_c08_16k-MIRSsend_16k-IRSrcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s4_c08_16k-MIRSsend_16k-IRSrcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s4_c08_16k-MIRSsend_16k-IRSrcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c19_EVRC-B_OP0.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c20_EVRC-WB_OP3.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s4_c08_16k-MIRSsend_16k-IRSrcv.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c14_AMR-WBmode2.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c11_2percFrameLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c14_AMR-WBmode2.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c20_EVRC-WB_OP3.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c25_ISDNtoN80_AMR-NB_badChan.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s3_c06_-36dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c11_2percFrameLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s2_c10_100-5000HzBP.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s2_c10_100-5000HzBP.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c43_Skype_2xTor.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s3_c06_-36dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c06_-36dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s3_c06_-36dBASL.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c11_2percFrameLoss.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s3_c14_AMR-WBmode2.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f1_s1_c01.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_f2_s1_c01.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m1_s1_c01.48k.wav","https://numberstimuli.s3.amazonaws.com/database/CH_m2_s1_c01.48k.wav","https://numberstimuli.s3.amazonaws.com/database/Maessig_CH_f1_s3_c25_ISDNtoN80_AMR-NB_badChan.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_CH_f2_s1_c17_Babble16dBSNR_AMR-WBmode2_-42dBASL.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_CH_f2_s2_c07_-46dBASL.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_CH_f2_s3_c43_Skype_2xTor.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_f_CH_f1_s2_c10_100-5000HzBP.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_f_CH_f1_s3_c06_-36dBASL.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_f_CH_f1_s3_c43_Skype_2xTor.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_f_CH_f2_s1_c01.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_f_CH_f2_s3_c30_GSM2L_elClipped_acoustRcv.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_f_CH_f1_s3_c06_-36dBASL.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_f_CH_f1_s3_c26_WB_AACq25.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_f_CH_f2_s1_c01.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_f_CH_f2_s1_c15_Babble16dBSNR_AMR-WBmode0.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_f_CH_f2_s2_c18_AMR-NB_mode5.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_m_CH_m1_s2_c10_100-5000HzBP.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_m_CH_m1_s4_c23_HothNoise16dBSNR_PhoneNS_N80toISDN_AMR-NB.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_m_CH_m2_s1_c01.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_m_CH_m2_s3_c03_Babble20dBSNR.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_m_CH_m2_s3_c12_20percFrameLoss.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_CH_f1_s1_c24_HothNoise16dBSNR_noPhoneNS_AMR-NBlive_badChan.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_CH_f1_s2_c18_AMR-NB_mode5.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_CH_f1_s3_c25_ISDNtoN80_AMR-NB_badChan.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_CH_f2_s1_c17_Babble16dBSNR_AMR-WBmode2_-42dBASL.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_CH_f2_s2_c07_-46dBASL.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_CH_f2_s3_c43_Skype_2xTor.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_f_CH_f2_s1_c01.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_f_CH_f2_s1_c49_Babble16dBSNR_Skype_2xTor_-42dBASL.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_f_CH_f2_s2_c10_100-5000HzBP.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_f_CH_f2_s3_c33_HothNoise16dBSNR_EFRlive.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_m_CH_m1_s1_c01.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_m_CH_m1_s1_c17_Babble16dBSNR_AMR-WBmode2_-42dBASL.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_m_CH_m1_s3_c12_20percFrameLoss.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_m_CH_m1_s3_c26_WB_AACq25.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_CH_f1_s1_c24_HothNoise16dBSNR_noPhoneNS_AMR-NBlive_badChan.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_CH_f1_s2_c18_AMR-NB_mode5.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_f_CH_f2_s1_c01.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_f_CH_f1_s3_c06_-36dBASL.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Schlecht_f_CH_f1_s3_c26_WB_AACq25.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Maessig_f_CH_f1_s3_c43_Skype_2xTor.48k.mp3","https://numberstimuli.s3.amazonaws.com/database/Ausgezeichnet_m_CH_m1_s1_c01.48k.mp3"];
        let htmlStr ='';
        for (let i=0; i<databaseURL.length; i++) {
            htmlStr = htmlStr + '<div class="item">'+
                '<div class="col-xs-4">'+
                '<audio controls><source src="'+databaseURL[i]+'" type="audio/mp3"></audio>'+
                '<h4>Sprachqualit'+String.fromCharCode(228)+'t:</h4>'+
                '<p><label class="col-xs-12 cursor-pointer overEffect"><input id="1'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="5" disabled="disabled"/><label for="1'+i+'">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p>' +
                '</div>';
        }

        let elemnt = document.getElementById("tempAudios");
        elemnt.outerHTML = htmlStr;
        */

        function printAudios_v3() {
            let htmlStr ='';
            let amount = 15;
            let trapQx = 2;
            for (let i=1; i<=(amount+trapQx); i++) {
                htmlStr = htmlStr + '<div class="item">'+
                        '<div class="row">'+
                        '<div class="col-xs-12">'+
                        '<div id="scale-cont-'+i+'" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px; height: 245px;">'+
                        '<audio id="audio'+i+'" controls><source id="audio'+i+'source" src="" type="audio/mp3"></audio>'+
                        '<h4>Sprachqualit'+String.fromCharCode(228)+'t:</h4>'+
                        '<label style="position: relative; left: 20px; float: right;">Bewertung</label>'+
                        '<p><label class="col-xs-12 cursor-pointer overEffect assessment-'+i+'"><input id="1'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="5" disabled="disabled"/><label for="1'+i+'">&nbsp;Ausgezeichnet</label><span style="float: right;">5</span></label></p>' +
                        '<p><label class="col-xs-12 cursor-pointer overEffect assessment-'+i+'"><input id="2'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="4" disabled="disabled"/><label for="2'+i+'">&nbsp;Gut</label><span style="float: right;">4</span></label></p>' +
                        '<p><label class="col-xs-12 cursor-pointer overEffect assessment-'+i+'"><input id="3'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="3" disabled="disabled"/><label for="3'+i+'">&nbsp;Ordentlich</label><span style="float: right;">3</span></label></p>' +
                        '<p><label class="col-xs-12 cursor-pointer overEffect assessment-'+i+'"><input id="4'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="2" disabled="disabled"/><label for="4'+i+'">&nbsp;D'+String.fromCharCode(252)+'rftig</label><span style="float: right;">2</span></label></p>' +
                        '<p><label class="col-xs-12 cursor-pointer overEffect assessment-'+i+'"><input id="5'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="1" disabled="disabled"/><label for="5'+i+'">&nbsp;Schlecht</label><span style="float: right;">1</span></label></p>' +
                        '</div>'+
                        '</div>'+
                        '</div>'+
                        '</div>';
            }
            let fatigueScale = '<div class="item">'+
                    '<div class="row">'+
                    '<div class="col-xs-12">'+
                    '<div id="scale-cont-'+amount+trapQx+1+'" class="col-xs-6  center-block" style="float: none; margin-bottom: 20px; height: 245px;">'+
                    '<h4 style="line-height: inherit;">Bitte bewerten Sie, wie erschöpft Sie zum derzeitigen Moment sind. Benutzen Sie dazu bitte die nachfolgende Skala von 1 bis 11.<br>Ein Bewertung von 1 bedeutet, dass Sie sich überhaupt nicht ' +
                    'erschöpft fühlen und eine Bewertung von 11 bedeutet, dass Sie sich extrem erschöpft fühlen.</h4>'+
                    '<b>Achtung: Sie dürfen den Regler nicht in der Mitte der Skala (6) belassen.</b>'+
                    '<p style="margin-top: 10px;"><label style="float: left;">1</label><label style="float: right;">11</label></p>'+
                    '<input id="fatigue-scale" data-slider-id="ex1Slider" type="text" data-slider-min="1" data-slider-max="11" data-slider-step="1" data-slider-value="6"/>' +
                    '<p><label style="float: left;">überhaupt nicht (erschöpft)</label><label style="float: right;">extrem (erschöpft)</label></p>'+
                    '</div>'+
                    '</div>'+
                    '</div>'+
                    '</div>';
            console.log('AUDIOS:');
            console.log(htmlStr+fatigueScale);
        }


        function attachOnPlayingEvent(amount, audioUrl) {
            for (let i=1; i<=amount; i++) {
                let audioNode = document.getElementById('audio'+i);
                let audioSource = document.getElementById('audio'+i+'source');
                audioSource.src = "/itut/audio/database/"+audioUrl[i-1];
                $('#audio'+i).one("playing", function() {
                    if (!((!audioNode.ended) && !(audioNode.duration > 0 && !audioNode.paused))) {
                        console.log('audio: '+i+' playing !!!');
                        for (let j=0; j<document.getElementsByClassName("scale"+i).length; j++) {
                            document.getElementsByClassName("scale"+i)[j].disabled = false;
                        }
                    }
                    /*
                    console.log('audio: '+i+' playing !!!');
                    for (let j=0; j<document.getElementsByClassName("scale"+i).length; j++) {
                        document.getElementsByClassName("scale"+i)[j].disabled = false;
                    }
                    */
                });
                $('#audio'+i).on("ended", function() {
                    console.log('audio ENDED: '+i+' ended!!!');
                    document.getElementById('weiter-btn').classList.remove("disable-weiter");
                });

                let supposedCurrentTime = 0;
                audioNode.addEventListener('timeupdate', function() {
                    if (!audioNode.seeking) {
                        supposedCurrentTime = audioNode.currentTime;
                    }
                });
                // prevent user from seeking
                audioNode.addEventListener('seeking', function() {
                    // guard agains infinite recursion:
                    // user seeks, seeking is fired, currentTime is modified, seeking is fired, current time is modified, ....
                    let delta = audioNode.currentTime - supposedCurrentTime;
                    if (Math.abs(delta) > 0.01) {
                        console.log("Seeking is disabled");
                        audioNode.currentTime = supposedCurrentTime;
                    }
                });
                audioNode.addEventListener('ended', function() {
                    // reset state in order to allow for rewind
                    supposedCurrentTime = 0;
                });
                $(".assessment-"+i).on('click', function (e) {
                    if ((!audioNode.ended) && !(audioNode.duration > 0 && !audioNode.paused)) {
                        e.stopPropagation();
                        warn_user('warning', 'Achtung! Bitte, hören Sie sich die Sprachprobe an, bevor Sie eine Antwort geben.');
                    }
                });
                audioNode.load();
            }
        }


        // Update userLocale with server side information
        $(document).ready(function(){

            window.setTimeout(function(){
                attachOnPlayingEvent(amount+trapQx, audioUrl.split("<->"));
            }, 1300);

            $("#fatigue-scale").slider({tooltip: 'always'});

            let totalItems = $('.item').length;
            let currentIndex = $('div.active').index() + 1;
            console.log('TOTAL ITEMS !!!');
            console.log(totalItems);
            $('.num').html(''+currentIndex+'/'+totalItems+'');

            $('#myCarousel').on('slid.bs.carousel', function(event) {
                currentIndex = $('div.active').index() + 1;
                $('.num').html(''+currentIndex+'/'+totalItems+'');

                if($('.carousel-inner .item:last').hasClass('active')) {
                    console.log('END OF CAROUSEL !!!');
                    document.getElementById('answer').style.display = 'inline';
                    // scroll the page down
                    $('html, body, main').animate({scrollTop: $('body').height()});
                }
                if (event.direction != 'right' && !$('input[name=ACR'+currentIndex+']:checked').val()) {
                    document.getElementById('weiter-btn').classList.add("disable-weiter");
                } else if ($('input[name=ACR'+currentIndex+']:checked').val()) {
                    document.getElementById('weiter-btn').classList.remove("disable-weiter");
                }
            });

            $('#weiter-btn').one("click", function() {
                console.log('SHOWING PREVIOUS BTN !!!');
                document.querySelector(".left.carousel-control").style.display = 'inline';
                if (document.getElementById('weiter-btn').classList.contains("disable-weiter")) {
                    warn_user('warning', 'Achtung! Bitte hören Sie sich die aktuelle Sprachprobe an und bewerten Sie diese, bevor Sie fortfahren.');
                }
            });

        });

        function warn_user(type, msg) {
            var p = $("<p/>");
            var title;

            if (type === 'info') {
                title = "Bitte lesen Sie die Anweisungen sorgfältig";
            }

            if (type === 'error') {
                title = "Etwas ging schief!"
            }
            if (type === 'warning') {
                title = "Bitte lesen Sie die Anweisungen sorgfältig";
            }
            p.text(msg);
            $(".modal-title").text(title);
            $(".modal-body").html(p);
            $("#warning").modal();
        }

        $('.btn-answer').on('click', function(evt) {

            let currentTime = new Date().getTime();
            let jsonDataArr = [];
            let audioURLs = audioUrl.split("<->");

            let conditionRegExp = /.+\_c(\d{2}).+/;

            let userDataOK = true;
            let userDataFatigueOK = true;
            let trapQxResults = [];
            for (let i=1; i<=(amount+trapQx); i++) {
                if (!$('input[name=ACR'+i+']:checked').val()) {
                    $('.carousel').carousel(i-1);
                    document.getElementById('scale-cont-'+i).classList.add("missing-answer");

                    $('input[name=ACR'+i+']').one("change", function() {
                        document.getElementById('scale-cont-'+i).classList.remove("missing-answer");
                    });
                    userDataOK = false;
                    break;
                }

                let fileName = audioURLs[i-1];
                let condition = conditionRegExp.exec(audioURLs[i-1]);

                if (/^Ausgezeichnet.+/.test(fileName)) {
                    trapQxResults.push({trapQx: $('input[name=ACR'+i+']:checked').val(), trapQxSF: ($('input[name=ACR'+i+']:checked').val() == 5) ? 'SUCCESS' : 'FAIL'});
                } else if (/^Maessig.+/.test(fileName)) {
                    trapQxResults.push({trapQx: $('input[name=ACR'+i+']:checked').val(), trapQxSF: ($('input[name=ACR'+i+']:checked').val() == 3) ? 'SUCCESS' : 'FAIL'});
                } else if (/^Schlecht.+/.test(fileName)) {
                    trapQxResults.push({trapQx: $('input[name=ACR'+i+']:checked').val(), trapQxSF: ($('input[name=ACR'+i+']:checked').val() == 1) ? 'SUCCESS' : 'FAIL'});
                }

                jsonDataArr.push({
                    'user': userID[3],
                    'file': fileName,
                    'condition': condition[1],
                    'rating': $('input[name=ACR'+i+']:checked').val(),
                    'trapQx': ' ',
                    'trapQxSF': ' ',
                    'fatigue': $("#fatigue-scale").slider("getValue"),
                    'timeSecQA': Math.round((currentTime - QAData['timeSecQAStart']) / 1000),
                    'timeStampQA': QAData['timeStampQA'],
                    'userIP': userIP,
                    'envNoise1': QAData['audio1File'],
                    'envNoise9': QAData['audio9File']
                });
            }

            if (userDataOK) {
                for (let i=0; i<trapQxResults.length; i++) {
                    if (i == 0) {
                        for (let j=0; j<6; j++) {
                            jsonDataArr[j]['trapQx'] = trapQxResults[i].trapQx;
                            jsonDataArr[j]['trapQxSF'] = trapQxResults[i].trapQxSF;
                        }
                        for (let j=6; j<11; j++) {
                            jsonDataArr[j]['trapQx'] = trapQxResults[i].trapQx;
                            jsonDataArr[j]['trapQxSF'] = 'SUCCESS';
                        }
                    } else {
                        for (let j=11; j<jsonDataArr.length; j++) {
                            jsonDataArr[j]['trapQx'] = trapQxResults[i].trapQx;
                            jsonDataArr[j]['trapQxSF'] = trapQxResults[i].trapQxSF;
                        }
                    }
                }
                console.log(jsonDataArr);

                if ($("#fatigue-scale").slider("getValue") == 6) {
                    $('.carousel').carousel(amount+trapQx);
                    userDataFatigueOK = false;
                    document.getElementById('scale-cont-'+amount+trapQx+1).classList.add("missing-answer");

                    $("#fatigue-scale").slider().one('change', function (e) {
                        document.getElementById('scale-cont-'+amount+trapQx+1).classList.remove("missing-answer");
                    });
                }
            }

            if (!userDataOK) {
                warn_user('warning', 'Achtung! Bitte hören Sie sich alle Sprachproben an und bewerten Sie diese, bevor Sie ihre Antwort senden.');
            } else if (!userDataFatigueOK) {
                warn_user('warning', 'Achtung! Bitte bewerten Sie die verbleibenden Fragen.<br>Bitte denken Sie daran, dass es nicht möglich ist den Regler in der Mitte (6) zu belassen.');
            } else {

                let code;
                console.log(jsonDataArr);

                //formPost(ConvertToCSV(jsonDataArr));

                $.ajax({
                    url: 'https://'+urlEnv+'/results/'+amount,
                    type: 'POST',
                    data: JSON.stringify({results: jsonDataArr, order: orderNo}),
                    cache: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false
                }).done(function(data) {
                    code = data.code;

                    executedOnce = true;
                    // scroll the page up
                    $('html, body, main').animate({ scrollTop: 0 }, 'fast');
                    let elemnt = document.getElementById("collapseLevels");
                    elemnt.outerHTML = "";
                    delete elemnt;

                    let byeURL = data.code ? "https://"+urlEnv+"/success/"+code : "https://"+urlEnv+"/fail/";
                    window.location.replace(byeURL);

                }).fail(function (error) {
                    console.log(error);
                });

            }

        });

    })();
</script>
