<div class="col-xs-8 center-block" style="float: none;">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;">
            <h4 class="panel-title"><strong>Gut gemacht!</strong> Vielen Dank für die Teilnahme!</h4>
        </div>
        <div class="panel-body">
            <h3 style="text-align: center; text-decoration: underline;">Wichtige Informationen:</h3>
            <h4 style="text-align: center;">Bitte kopieren Sie den folgenden Code und fügen Sie ihn in das durch Clickworker bereitgestellte Aufgabenformular ein.</h4>
            <h4 style="text-align: center; font-weight: 600;">Ihre Bezahlung durch Clickworker kann nur mit der Eingabe dieses Codes durchgeführt werden!</h4>
            <br>
            <h4 style="text-align: center;"><p><strong>Code: </strong><label id="showC">{{successCode}}</label></p></h4>

        </div>
    </div>
</div>
