<div class="col-xs-8 center-block" style="float: none;">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;">
            <h4 class="panel-title">Vielen Dank für Ihre Teilnahme!</h4>
        </div>
        <div class="panel-body">
            <p style="font-size: 18px; text-align: center; font-weight: 600;">Wir haben Unstimmigkeiten in Ihren Antworten entdeckt.<br>Es ist uns daher leider nicht möglich, Ihnen einen Code zum Erhalt einer Bezahlung auszuhändigen.<br>Wir bitten Sie um Entschuldigung.</p>
            <h4 style="text-align: center;">Sie können es gern erneut in 1 Stunden versuchen.</h4>
        </div>
    </div>
</div>
