<style>
    .element-hidden {
        display: none;
    }
    .cursor-pointer {
        cursor: pointer;
    }
    audio::-internal-media-controls-download-button {
        display:none!important;
    }
    audio::-webkit-media-controls-enclosure {
        overflow:hidden!important;
    }
    audio::-webkit-media-controls-panel {
        width: calc(150% + 32px); /* Adjust as needed */
    }
    .pad-dem {
        padding-left: 40px;
    }
    .add-margin-top {
        margin-top: 20px;
    }
    body {
        font-family: 'Lato', sans-serif!important;
    }
    b, strong {
        font-weight: 600!important;
    }
    p {
        font-size: 16px;
    }
    #myCarousel {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .previous-next {
        position: absolute;
        top: 55%;
        z-index: 5;
        display: inline-block;
        margin-top: -10px;
        margin-right: 10%;
        background-color: #337ab7;
    }
    .carousel-control {
        width: 25%!important;
        text-shadow: none;
    }
    .carousel-control.left {
        background-image: none!important;
        text-align: center!important;
    }
    .carousel-control.right {
        background-image: none!important;
        text-align: left!important;
    }
    .carousel-indicators-own {
        bottom: -40px;
        position: absolute;
        left: 50%;
        z-index: 15;
        width: 60%;
        padding-left: 0;
        margin-left: -30%;
        text-align: center;
        list-style: none;
    }
    .missing-answer{
        border: 1px solid!important;
        border-color: red!important;
        border-width: 2px!important;
    }
    .questions-radio {
        width: 10%;
    }
    .overEffect:hover {
        background-color: #BFD6E9;
        border-radius: 15px;
        cursor: pointer;
    }
    input[type="radio"]:checked+label{color: black; font-weight: bold!important;}
    .disable-weiter {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5!important;
    }
</style>
<head>
    <script src="https://use.fontawesome.com/4290394170.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://microworkers.com/im/qt/ds/css/mw-surveys.css" rel="stylesheet">

    <script type="text/javascript">
        var userIP;
        var userID;
        var urlEnv = 'localhost:9000';
        //var urlEnv = 'vm002.qu.tu-berlin.de';
        var whiteNoiseFiles = [
            'WhiteNoise_Octfilter500_-46dBov.mp3',
            'WhiteNoise_Octfilter500_-66dBov.mp3',
            'WhiteNoise_Octfilter500_-76dBov.mp3',
            'WhiteNoise_Octfilter1000_-46dBov.mp3',
            'WhiteNoise_Octfilter1000_-66dBov.mp3',
            'WhiteNoise_Octfilter1000_-76dBov.mp3',
            'WhiteNoise_Octfilter4000_-46dBov.mp3',
            'WhiteNoise_Octfilter4000_-66dBov.mp3',
            'WhiteNoise_Octfilter8000_-46dBov.mp3',
            'WhiteNoise_Octfilter8000_-66dBov.mp3'
        ];
    </script>
    <script type="text/javascript" src="https://l2.io/ip.js?var=userIP"></script>
</head>
<!--
<div id="warning" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>
-->

<div id="warning" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content panel-warning">
            <div class="modal-header panel-heading">
                <h4 class="modal-title mt-dynamic"></h4>
            </div>
            <div class="modal-body mb-dynamic"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div id="onlyOne" class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content panel-primary">
            <div class="modal-body">
                <h4 style="text-align: center;">Entschuldigung, Sie können an dieser Aufgabe nur einmal teilnehmen.</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div id="fail" class="modal fade">
    <div class="modal-dialog ">
        <div class="modal-content panel-primary">
            <div class="modal-body">
                <h4 style="text-align: center;">Entschuldigung, Sie sind durch den Deutschkenntnistest durchgefallen.</h4>
                <h4 style="text-align: center;">Vielen Dank für die Teilnahme!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div style="position: relative; top: 65px; z-index: 9000;">
    <label id="showUserID" style="font-size: 12px;"></label>
</div>

<div class="accordion col-xs-8 skeleton center-block" id="collapseLevels" style="float: none;">

    <div class="panel">
        <div class="collapse in" id="collapseLevel1">

            <!-- Requirements -->
            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Wichtige Informationen:</strong></div>
                <div class="panel-body">
                    <span style="font-size: 12pt;">
                        Dies ist ein einfacher Job um ihre Deutschkenntnisse zu verifizieren.<br>
                        Falls Sie Deutsch können, werden Sie den Job erfolgreich bestehen und anschließend eingeladen an unsere Studie teilzunehmen, bei der Sie <b>bis zu 5.88€ verdienen</b> können.
                    </span>
                    <br>
                    <br>
                    <strong style="font-size: 16px;">Anforderungen:</strong>
                    <ul style="font-size: 16px;">
                        <li>Sehr gute Deutschkenntnisse</li>
                        <li>Kopfhörer</li>
                        <li>Sehr ruhige Umgebung bei der Bearbeitung</li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Einverständniserklärung:</strong></div>
                <div class="panel-body">

                    <p>Lesen und stimmen Sie bitte der nachfolgende Einverständniserklärung zu.</p>
                    <p>Das Ziel unserer Studie ist es herauszufinden, wie gut Benutzer die Qualität von Sprachproben bewerten.<br>
                        Während unserer Studie werden Sie gebeten:
                    </p>
                    <ul style="font-size: 16px;">
                        <li>Informationen zu Ihren Demografischen Daten anzugeben.</li>
                        <li>Uns Ihre Hintergrundgeräusche zur Qualitätskontrolle aufnehmen zu lassen (15 Sekunden).</li>
                        <li>Sprachproben bezüglich ihrer Qualität zu bewerten.</li>
                    </ul>
                    <p>Die erhobene Daten werden ausschließlich für die Forschung verwendet und werden nicht an Dritte weitergegeben.
                        Die Ergebnisse werden voraussichtlich in Forschungsbeiträgen veröffentlicht.
                        Persönliche Informationen werden dort nicht veröffentlicht und alle gesammelten Informationen werden  anonymisiert und geheim gehalten.
                    </p>

                    <h4><span class="user-generated notranslate"><span style="font-size: 12pt;"><font color="red">*</font> Ich stimme zu an der oben beschrieben Studie teilzunehmen.</span></span></h4>

                    <h4>
                        <input id="consentYes" name="consent" type="radio" value="Yes"><label for="consentYes" class="cursor-pointer" style="font-size:16px;"> Ja</label>
                        <br>
                        <input id="consentNo" name="consent" type="radio" value="No"><label for="consentNo" class="cursor-pointer" style="font-size:16px;"> Nein</label>
                    </h4>

                    <div id="startStudyDiv">
                        <strong>Klicken Sie bitte auf ‘Start’ um zu starten.</strong>
                        <br>
                        <button id="startStudy" aria-controls="collapseLevel2" aria-expanded="false" class="btn btn-primary" data-parent="#collapseLevels" data-toggle="collapse" href="#collapseLevel2" role="button">Start</button>
                    </div>
                    <div id="finishStudyDiv" class="element-hidden">
                        <strong>Klicken Sie bitte auf ‘Abschlussstudie’ to exit.</strong>
                        <br>
                        <button id="finishStudy" class="btn btn-primary" role="button">Studie beenden</button>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="panel">
        <div class="collapse" id="collapseLevel2">

            <!-- Introduction -->
            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Einleitung:</strong></div>
                <div class="panel-body">
                    <p>
                        Danke, dass Sie an dieser Jobreihe teilnehmen. <br>
                        Die nachfolgende Aufgabe dient dazu, ihre Deutschkenntnisse mittels einiger Übungen zu test.
                        Wenn Sie alle Fragen richtig beantworten, haben Sie die Möglichkeit an unserer Studie “Sprachqualitätsbewertung” teilzunehmen.<br>

                        In der Studie werden Sie gebeten 15 Sprachproben anzuhören und Ihre Meinung zur Gesamtqualität der Spracheproben auf einer Skala anzugeben.
                    </p>
                    <img style="display:block; margin-left:auto; margin-right:auto; width:340px;" src="/itut/images/Scale.PNG">
                    <p>
                        Es werden insgesamt 14 Aufgaben zur Sprachqualitätsbewertung verfügbar sein, die jeweils innerhalb von 3 Minuten bearbeitet werden können.
                        Jede Aufgabe wird mit 0.42€ vergütet. Wenn Sie alle 14 Aufgaben zur Sprachqualitätsbewertung abgeschlossen haben, ergibt sich somit eine maximale Bezahlung von 5.88€.
                    </p>
                    <p>Das Vorgehen ist wie folgt:</p>
                    <ol style="font-size: 16px;">
                        <li>Um Zugang zu der Studie zur Einschätzung von Sprachqualität zu bekommen, müssen Sie zunächst eine <b>Qualifikation zur Sprachqualitätsbewertung</b> erfolgreich bestehen.</li>
                        <li>Nur wenn Sie diese Qualifikation bestehen wird es Ihnen gestattet, die Aufgabe zur Sprachqualitätsbewertung im Anschluss durchzuführen.</li>
                    </ol>
                    <p>
                        Die Aufgabe zur Sprachqualitätsbewertung umfasst einen Übungsdurchlauf, in dem fünf Sprachproben anzuhören sind, sowie der Präsentation der Sprachproben zur eigentlichen Bewertung.
                        Die zu bewertenden Sprachproben werden Ihnen erst präsentiert, wenn Sie den Übungsdurchlauf erfolgreich abgeschlossen haben.
                    </p>
                    <p><b>Vielen Dank für Ihre Teilnahme an dieser Studie.</b></p>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Demographische Daten:</strong></div>
                <div class="panel-body">

                    <span style="font-size: 12pt;">Bitte beantworten Sie die nachfolgenden Fragen!</span>

                    <div class="col-xs-12">
                        <form id="demographic-data">
                            <div class="col-xs-7">
                                <dl style="margin-bottom: 0px;">
                                    <div id="ageDiv">
                                        <dt class="add-margin-top">Alter:</dt>
                                        <dd class="pad-dem">
                                            <select name="age">
                                                <option selected disabled value=null>--</option>
                                                <option value="18-25">18-25 Jahre</option>
                                                <option value="26-35">26-35 Jahre</option>
                                                <option value="36-45">36-45 Jahre</option>
                                                <option value="uber 45">Über 45 Jahre</option>
                                            </select>
                                        </dd>
                                    </div>
                                    <div id="genderDiv">
                                        <dt class="add-margin-top">Geschlecht:</dt>
                                        <dd class="pad-dem">
                                            <input type="radio" id="gender1" name="gender" value="female"><label class="cursor-pointer" for="gender1"> &nbsp;Weiblich</label><br>
                                            <input type="radio" id="gender2" name="gender" value="male"><label class="cursor-pointer" for="gender2"> &nbsp;Männlich</label><br>
                                            <input type="radio" id="gender3" name="gender" value="other"><label class="cursor-pointer" for="gender3"> &nbsp;Anderes</label>
                                        </dd>
                                    </div>
                                    <div id="languageDiv">
                                        <dt class="add-margin-top">Muttersprache:</dt>
                                        <dd class="pad-dem">
                                            <input type="radio" id="language1" name="language" value="Deutsch"><label class="cursor-pointer" for="language1"> &nbsp;Deutsch</label><br>
                                            <input type="radio" id="language2" name="language" value="Other"><label class="cursor-pointer" for="language2"> &nbsp;<input type="text" id="otherLang" name="otherLang" placeholder="Falls nicht Deutsch, bitte Sprache hier eintragen" style="width: 220px;"></label><br>
                                        </dd>
                                    </div>
                                    <div id="audioExperienceDiv">
                                        <dt class="add-margin-top">Haben Sie innerhalb des letzten Jahres an einem Hörversuch teilgenommen?</dt>
                                        <dd class="pad-dem">
                                            <input type="radio" id="audioExperience1" name="audioExperience" value="yes"><label class="cursor-pointer" for="audioExperience1"> &nbsp;Ja</label><br>
                                            <input type="radio" id="audioExperience2" name="audioExperience" value="no"><label class="cursor-pointer" for="audioExperience2"> &nbsp;Nein</label>
                                        </dd>
                                    </div>
                                </dl>
                            </div>
                            <div id="countryDiv" class="col-xs-5">
                                <dl style="margin-bottom: 0px;">
                                    <dt class="add-margin-top">Wo leben Sie?</dt>
                                    <dd class="pad-dem">
                                        <input type="radio" id="country1" name="country" value="Germany"> &nbsp;<label class="cursor-pointer" for="country1"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/35px-Flag_of_Germany.svg.png" width="23" height="14"> Deutschland</label><br>
                                        <input type="radio" id="country2" name="country" value="Belgium"> &nbsp;<label class="cursor-pointer" for="country2"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Flag_of_Belgium_%28civil%29.svg/35px-Flag_of_Belgium_%28civil%29.svg.png" width="23" height="14"> Belgien</label><br>
                                        <input type="radio" id="country3" name="country" value="Austria"> &nbsp;<label class="cursor-pointer" for="country3"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Flag_of_Austria.svg/35px-Flag_of_Austria.svg.png" width="23" height="14"> Österreich</label><br>
                                        <input type="radio" id="country4" name="country" value="Switzerland"> &nbsp;<label class="cursor-pointer" for="country4"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Flag_of_Switzerland.svg/24px-Flag_of_Switzerland.svg.png" width="23" height="14"> Schweiz</label><br>
                                        <input type="radio" id="country5" name="country" value="Luxembourg"> &nbsp;<label class="cursor-pointer" for="country5"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Flag_of_Luxembourg.svg/35px-Flag_of_Luxembourg.svg.png" width="23" height="14"> Luxemburg</label><br>
                                        <input type="radio" id="country6" name="country" value="Liechtenstein"> &nbsp;<label class="cursor-pointer" for="country6"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Flag_of_Liechtenstein.svg/35px-Flag_of_Liechtenstein.svg.png" width="23" height="14"> Liechtenstein</label><br>
                                        <input type="radio" id="country7" name="country" value="Italy"> &nbsp;<label class="cursor-pointer" for="country7"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/03/Flag_of_Italy.svg/35px-Flag_of_Italy.svg.png" width="23" height="14"> Italien</label><br>
                                        <input type="radio" id="country8" name="country" value="Poland"> &nbsp;<label class="cursor-pointer" for="country8"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/1/12/Flag_of_Poland.svg/35px-Flag_of_Poland.svg.png" width="23" height="14"> Polen</label><br>
                                        <input type="radio" id="country9" name="country" value="Brazil"> &nbsp;<label class="cursor-pointer" for="country9"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/33px-Flag_of_Brazil.svg.png" width="23" height="14"> Brasilien</label><br>
                                        <input type="radio" id="country10" name="country" value="Other"> &nbsp;<label class="cursor-pointer" for="country10"> Andere</label>
                                    </dd>
                                </dl>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary" id="lautstaerke">
                <div class="panel-heading"><strong>Lautstärke:</strong></div>
                <div class="panel-body">
                    <p>
                        Bitte hören Sie sich diese Sprachprobe an. Sie können diese so oft abspielen, wie Sie möchten.<br>Stellen Sie die Lautstärke dabei auf ein angenehmes Level ein.<br>
                        <b>Achtung: Von diesem Zeitpunkt an, würden wir Sie bitte, die Lautstärke nicht mehr zu verändern.</b>
                    </p>

                    <div class="col-xs-12" style="text-align: center;">
                        <span id="trapAudioVolume" class="fa-stack fa-4x cursor-pointer">
                            <i class="fa fa-circle fa-stack-2x text-muted"></i>
                            <i id="trapAudioVolume-control" class="fa fa-play fa-stack-1x fa-inverse"></i>
                        </span>
                        <audio id="trapAudioVolume-audio" hidden="hidden"><source src="/itut/audio/lautstaerke/concat_sv56.mp3" type="audio/mp3"></audio>
                    </div>

                    <input id="audio-volume" name="audioVolume" type="hidden" value="">
                </div>
            </div>

            <!-- Achtung -->
            <div class="panel panel-danger">
                <div class="panel-heading"><strong>ACHTUNG!</strong></div>
                <div class="panel-body">
                    <p>
                        Nachdem Sie die Lautstärke im "Lautstärke"-Block eingestellt habe, sollte diese nun angenehm laut sein. <br>
                        Bitte denken Sie daran im weiteren Verlauf die Lautstärke nicht mehr zu verändern! <br>
                        <b>(Auch wenn Sie im "Rauschhörtest"-Block eine Hörprobe nicht hören!) </b>
                    </p>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Rauschhörtest:</strong></div>
                <div class="panel-body">

                    <p>
                        Klicken Sie auf den Play-Button (Wiedergabetaste) um die einzelnen Hörprobe abzuspielen.<br>
                        Nachdem Sie jede einzelne Hörproben abgespielt haben, klicken Sie bitte auf "Ja" wenn Sie etwas gehört haben oder auf "Nein" wenn Sie nichts gehört haben.<br>
                        Über den blauen Weiter-Knopf kommen Sie zur nächsten Hörprobe.<br>
                        <b>Achtung: Ändern Sie bitte die Lautstärke nicht mehr, auch wenn Sie die Hörprobe nicht gehört haben.</b>
                    </p>

                    <div id="myCarousel" class="carousel slide" data-interval="false">
                        <!-- Indicators -->
                        <ol class="carousel-indicators-own">
                            <div class="num"></div>
                        </ol>

                        <!-- Wrapper for slides-->
                        <div class="carousel-inner">
                            <div class="item active"><div class="row"><div class="col-xs-12"><div id="scale-cont-1" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio1" controls><source id="audio1source" src="/itut/audio/noiseTest/WhiteNoise_Octfilter500_-46dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-1"><input id="11" class="scale1" name="ACR1" type="radio" value="Ja" disabled="disabled"/><label for="11">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-1"><input id="21" class="scale1" name="ACR1" type="radio" value="Nein" disabled="disabled"/><label for="21">&nbsp;Nein</label></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-2" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio2" controls><source id="audio2source" src="/itut/audio/noiseTest/WhiteNoise_Octfilter500_-66dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-2"><input id="12" class="scale2" name="ACR2" type="radio" value="Ja" disabled="disabled"/><label for="12">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-2"><input id="22" class="scale2" name="ACR2" type="radio" value="Nein" disabled="disabled"/><label for="22">&nbsp;Nein</label></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-3" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio3" controls><source id="audio3source" src="/itut/audio/noiseTest/WhiteNoise_Octfilter500_-76dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-3"><input id="13" class="scale3" name="ACR3" type="radio" value="Ja" disabled="disabled"/><label for="13">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-3"><input id="23" class="scale3" name="ACR3" type="radio" value="Nein" disabled="disabled"/><label for="23">&nbsp;Nein</label></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-4" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio4" controls><source id="audio4source" src="/itut/audio/noiseTest/WhiteNoise_Octfilter1000_-46dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-4"><input id="14" class="scale4" name="ACR4" type="radio" value="Ja" disabled="disabled"/><label for="14">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-4"><input id="24" class="scale4" name="ACR4" type="radio" value="Nein" disabled="disabled"/><label for="24">&nbsp;Nein</label></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-5" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio5" controls><source id="audio5source" src="/itut/audio/noiseTest/WhiteNoise_Octfilter1000_-66dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-5"><input id="15" class="scale5" name="ACR5" type="radio" value="Ja" disabled="disabled"/><label for="15">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-5"><input id="25" class="scale5" name="ACR5" type="radio" value="Nein" disabled="disabled"/><label for="25">&nbsp;Nein</label></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-6" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio6" controls><source id="audio6source" src="/itut/audio/noiseTest/WhiteNoise_Octfilter1000_-76dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-6"><input id="16" class="scale6" name="ACR6" type="radio" value="Ja" disabled="disabled"/><label for="16">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-6"><input id="26" class="scale6" name="ACR6" type="radio" value="Nein" disabled="disabled"/><label for="26">&nbsp;Nein</label></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-7" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio7" controls><source id="audio7source" src="/itut/audio/noiseTest/WhiteNoise_Octfilter4000_-46dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-7"><input id="17" class="scale7" name="ACR7" type="radio" value="Ja" disabled="disabled"/><label for="17">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-7"><input id="27" class="scale7" name="ACR7" type="radio" value="Nein" disabled="disabled"/><label for="27">&nbsp;Nein</label></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-8" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio8" controls><source id="audio8source" src="/itut/audio/noiseTest/WhiteNoise_Octfilter4000_-66dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-8"><input id="18" class="scale8" name="ACR8" type="radio" value="Ja" disabled="disabled"/><label for="18">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-8"><input id="28" class="scale8" name="ACR8" type="radio" value="Nein" disabled="disabled"/><label for="28">&nbsp;Nein</label></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-9" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio9" controls><source id="audio9source" src="/itut/audio/noiseTest/WhiteNoise_Octfilter8000_-46dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-9"><input id="19" class="scale9" name="ACR9" type="radio" value="Ja" disabled="disabled"/><label for="19">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-9"><input id="29" class="scale9" name="ACR9" type="radio" value="Nein" disabled="disabled"/><label for="29">&nbsp;Nein</label></label></p></div></div></div></div><div class="item"><div class="row"><div class="col-xs-12"><div id="scale-cont-10" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;"><audio id="audio10" controls><source id="audio10source" src="/itut/audio/noiseTest/WhiteNoise_Octfilter8000_-66dBov.mp3" type="audio/mp3"></audio><h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-10"><input id="110" class="scale10" name="ACR10" type="radio" value="Ja" disabled="disabled"/><label for="110">&nbsp;Ja</label></label></p><p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-10"><input id="210" class="scale10" name="ACR10" type="radio" value="Nein" disabled="disabled"/><label for="210">&nbsp;Nein</label></label></p></div></div></div></div>
                        </div>


                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="display: none;">
                            <span class="btn btn-primary active previous-next">Zurück</span>
                            <span class="sr-only">Zurück</span>
                        </a>
                        <a id="weiter-btn" class="right carousel-control disable-weiter" href="#myCarousel" data-slide="next">
                            <span class="btn btn-primary active previous-next">Weiter</span>
                            <span class="sr-only">Weiter</span>
                        </a>
                    </div>

                </div>
            </div>

            <div id="trap1Div" class="panel panel-primary">
                <div class="panel-heading"><strong>Deutschkenntnisse (1):</strong></div>
                <div class="panel-body">
                    <span style="font-size: 12pt;">
                        Bitte h&ouml;ren Sie sich dieses Test-Beispliel an.
                        Sie k&ouml;nnen es so oft abspielen, wie Sie m&ouml;chten. Bitte w&auml;hlen Sie die richtige Aussage aus! Nur eine Antwort ist richtig.
                    </span>

                    <div class="col-xs-12" style="text-align: center;">
                        <span id="trap1" class="fa-stack fa-4x cursor-pointer">
                            <i class="fa fa-circle fa-stack-2x text-muted"></i>
                            <i id="trap1-control" class="fa fa-play fa-stack-1x fa-inverse"></i>
                        </span>
                        <audio id="trap1-audio" hidden="hidden"><source src="/itut/audio/germanTest/42.mp3" type="audio/mp3"></source></audio>
                    </div>

                    <div class="questions-radio-1">
                        <input class="custom-radio" id="math11" name="trap1" type="radio" value="1" disabled><label class="control-label" for="math11"> Die Sprecherin ist in den Ferien dauernd mit ihren Eltern zusammen.</label>
                    </div>
                    <div class="questions-radio-1">
                        <input class="custom-radio" id="math12" name="trap1" type="radio" value="2" disabled><label class="control-label" for="math12"> Die Sprecherin lernt im Urlaub viele sympatische Leute kennen.</label>
                    </div>
                    <div class="questions-radio-1">
                        <input class="custom-radio" id="math13" name="trap1" type="radio" value="3" disabled><label class="control-label" for="math13"> Der Sprecher isst gerne Fr&uuml;hst&uuml;ck mit seiner Familie, wenn er im Urlaub ist.</label>
                    </div>
                </div>
            </div>

            <div id="trap2Div" class="panel panel-primary">
                <div class="panel-heading"><strong>Deutschkenntnisse (2):</strong></div>
                <div class="panel-body">
                    <span style="font-size: 12pt;">
                        Bitte h&ouml;ren Sie sich dieses Test-Beispliel an.
                        Sie k&ouml;nnen es so oft abspielen, wie Sie m&ouml;chten. Bitte w&auml;hlen Sie die richtige Aussage aus! Nur eine Antwort ist richtig.
                    </span>

                    <div class="col-xs-12" style="text-align: center;">
                        <span id="trap2" class="fa-stack fa-4x cursor-pointer">
                            <i class="fa fa-circle fa-stack-2x text-muted"></i>
                            <i id="trap2-control" class="fa fa-play fa-stack-1x fa-inverse"></i>
                        </span>
                        <audio id="trap2-audio" hidden="hidden"><source src="/itut/audio/germanTest/43.mp3" type="audio/mp3"></source></audio>
                    </div>

                    <div class="questions-radio-2">
                        <input class="custom-radio" id="math21" name="trap2" type="radio" value="1" disabled><label class="control-label" for="math21"> Der Sprecher arbeitet nur f&uuml;r seine Familie in Spanien.</label>
                    </div>
                    <div class="questions-radio-2">
                        <input class="custom-radio" id="math22" name="trap2" type="radio" value="2" disabled><label class="control-label" for="math22"> Der Sprecher kann in seinen Ferien machen, was er will.</label>
                    </div>
                    <div class="questions-radio-2">
                        <input class="custom-radio" id="math23" name="trap2" type="radio" value="3" disabled><label class="control-label" for="math23"> Der Sprecher mag die herzlichen Leute und das Essen in Spanien.</label>
                    </div>
                </div>
            </div>

            <div id="trap3Div" class="panel panel-primary">
                <div class="panel-heading"><strong>Deutschkenntnisse (3):</strong></div>
                <div class="panel-body">
                    <span style="font-size: 12pt;">
                        Bitte h&ouml;ren Sie sich dieses Test-Beispliel an.
                        Sie k&ouml;nnen es so oft abspielen, wie Sie m&ouml;chten. Bitte w&auml;hlen Sie die richtige Aussage aus! Nur eine Antwort ist richtig.
                    </span>

                    <div class="col-xs-12" style="text-align: center;">
                        <span id="trap3" class="fa-stack fa-4x cursor-pointer">
                            <i class="fa fa-circle fa-stack-2x text-muted"></i>
                            <i id="trap3-control" class="fa fa-play fa-stack-1x fa-inverse"></i>
                        </span>
                        <audio id="trap3-audio" hidden="hidden"><source src="/itut/audio/germanTest/45.mp3" type="audio/mp3"></source></audio>
                    </div>

                    <div class="questions-radio-3">
                        <input class="custom-radio" id="math31" name="trap3" type="radio" value="1" disabled><label class="control-label" for="math31"> Die Sprecherin macht Ferien mit Ihrer Clique.</label>
                    </div>
                    <div class="questions-radio-3">
                        <input class="custom-radio" id="math32" name="trap3" type="radio" value="2" disabled><label class="control-label" for="math32"> Die Sprecherin schwimmt nicht gerne.</label>
                    </div>
                    <div class="questions-radio-3">
                        <input class="custom-radio" id="math33" name="trap3" type="radio" value="3" disabled><label class="control-label" for="math33"> Der Sprecherin w&uuml;rde gerne im S&uuml;den von Frankreich leben.</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="answer" class="top20 col-xs-12 element-hidden">
        <button class="btn btn-answer btn-primary pull-right">Absenden</button>
    </div>
</div>


<script type="text/javascript">

    /*
    var codes = ["E3no7ELL5ikpeP65","zrdb2ig7PYcw4EB2","27qSdCe8a6gg5Dvr","7TtQ583C4j8ksuHJ","5cXFUk8hadr4ki3j"];
    var key = ["6","7","8","9","10"];
    var additionalCodes = {};
    for (let i=0; i<codes.length; i++) {
        additionalCodes[key[i]] = {"code": codes[i]};
    }
    console.log(additionalCodes);
    console.log(JSON.stringify(additionalCodes));
    */


    /*
    var moreUsers = [1335075,47099,1510255,1602748,1185246];
    var code = ["G7q8A8X633u4UJe7","c5LEJ9po58P8wj8m","R264A66Z44j9rii9","Su5QrSBJ2vA7f3Ed","v73mL2TdLV9G67od","C47cEwdyKi66yFro","G8k2N38WQA8H5Hmk","rBr3P55W2Hrk55o6","UXd828sG333U4b3P","y27wf4j3ip7iA5Yt"];
    var moreUsersObj = {};
    for (let i=0; i<moreUsers.length; i++) {
        for (let j=1; j<=code.length; j++) {
            moreUsersObj[moreUsers[i]+'-'+j] = {"files": "<->", "trapQx":"", "code": code[j-1]};
        }
    }
    console.log(moreUsersObj);
    console.log(JSON.stringify(moreUsersObj));
    */

    let internetExplorer = false;
    if (navigator.appName == 'Microsoft Internet Explorer' || !!(navigator.userAgent.match(/Trident/) || navigator.userAgent.match(/rv:11/)) || (typeof $.browser !== "undefined" && $.browser.msie == 1)) {
        internetExplorer = true;

        let elemnt = document.getElementById("collapseLevels");
        elemnt.outerHTML = "";
        delete elemnt;

        let p = $("<p style='font-size: 20px; text-align: center;'>Entschuldigung, diese Studie ist nicht für den Internet Explorer optimiert. Wir empfehlen Ihnen, einen anderen Browser zu verwenden (Chrome, Firefox, Microsoft Edge, Opera etc.).</p>");
        $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig!");
        $(".mb-dynamic").html(p);
        $("#warning").modal();
        $('#warning').on('hidden.bs.modal', function (e) {
            window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
        });
    }

    var urlRegExp = /.+\?user\=(.+)\&user\_id\=(.+)/gmi;
    userID = urlRegExp.exec(window.location.href);
    console.log(userID);

    if (userID && !internetExplorer) {
        document.getElementById('showUserID').innerHTML = userID[2];
        window.setTimeout(function(){
            $('#showUserID').toggleClass('element-hidden');
        }, 5000);

        let url = 'https://'+urlEnv+'/itut/user';
        $.ajax({
            url: url,
            type: 'POST',
            data: '{"userID":"'+userID[2]+'", "userIP": "'+userIP+'"}',
            cache: false,
            dataType: 'json',
            contentType: 'application/json',
            processData: false
        }).done(function(data) {
            console.log(data);
            if (data.oldUser) {
                let elemnt = document.getElementById("collapseLevels");
                elemnt.outerHTML = "";
                delete elemnt;

                let p = $("<p style='font-size: 20px; text-align: center;'>Entschuldigung, wir haben festgestellt, dass Sie bereits zuvor an einem Hörtest teilgenommen haben.</p>");
                $(".mt-dynamic").text("Vielen Dank für Ihr Interesse an der Teilnahme!");
                $(".mb-dynamic").html(p);
                $("#warning").modal();
                $('#warning').on('hidden.bs.modal', function (e) {
                    window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
                });
            } else if (!data.status) {
                console.log(data);
                console.log('you can not continue !!!');
                let elemnt = document.getElementById("collapseLevels");
                elemnt.outerHTML = "";
                delete elemnt;

                $('#onlyOne').modal();
                $('#onlyOne').on('hidden.bs.modal', function (e) {
                    window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
                });
            }
        }).fail(function (error) {
            console.log(error);
            let elemnt = document.getElementById("collapseLevels");
            elemnt.outerHTML = "";
            delete elemnt;
            let p = $("<p style='font-size: 18px;'>Es scheint, dass wir technische Probleme haben.<br>Entschuldigen Sie bitte die Unannehmlichkeiten. Bitte versuchen Sie es später erneut.</p>");
            $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
            $(".mb-dynamic").html(p);
            $("#warning").modal();
            $('#warning').on('hidden.bs.modal', function (e) {
                window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
            });
        });

    } else {
        console.log('you can not continue !!!');
        let elemnt = document.getElementById("collapseLevels");
        elemnt.outerHTML = "";
        delete elemnt;

        let p = $("<p style='font-size: 18px;'>Es scheint, dass Sie die Studie über einen ungültigen Link gestartet haben.<br>Um an der Studie teilzunehmen, klicken Sie bitte einfach den Link auf der Clickworker-Platform an.</p>");
        $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
        $(".mb-dynamic").html(p);
        $("#warning").modal();
        $('#warning').on('hidden.bs.modal', function (e) {
            window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
        });
    }

</script>


<script type="text/javascript">
    (function() {
        $(document).ready(function(){

            let trap1 = document.getElementById('trap1'),
                    ctrlTrap1 = document.getElementById('trap1-control'),
                    audioTrap1 = document.getElementById('trap1-audio');

            let trap2 = document.getElementById('trap2'),
                    ctrlTrap2 = document.getElementById('trap2-control'),
                    audioTrap2 = document.getElementById('trap2-audio');

            let trap3 = document.getElementById('trap3'),
                    ctrlTrap3 = document.getElementById('trap3-control'),
                    audioTrap3 = document.getElementById('trap3-audio');

            let trapAudioVolume = document.getElementById('trapAudioVolume'),
                    ctrlAudioVolume = document.getElementById('trapAudioVolume-control'),
                    audioVolume = document.getElementById('trapAudioVolume-audio');

            trap1.onclick = function () {
                if (ctrlTrap1.className == "fa fa-play fa-stack-1x fa-inverse") {
                    ctrlTrap1.className="fa fa-pause fa-stack-1x fa-inverse";
                    audioTrap1.play();
                } else if (ctrlTrap1.className == "fa fa-pause fa-stack-1x fa-inverse") {
                    ctrlTrap1.className="fa fa-play fa-stack-1x fa-inverse";
                    audioTrap1.pause();
                }
            };
            audioTrap1.addEventListener("ended", function(){
                ctrlTrap1.className="fa fa-play fa-stack-1x fa-inverse";
            });

            trap2.onclick = function () {
                if (ctrlTrap2.className == "fa fa-play fa-stack-1x fa-inverse") {
                    ctrlTrap2.className="fa fa-pause fa-stack-1x fa-inverse";
                    audioTrap2.play();
                } else if (ctrlTrap2.className == "fa fa-pause fa-stack-1x fa-inverse") {
                    ctrlTrap2.className="fa fa-play fa-stack-1x fa-inverse";
                    audioTrap2.pause();
                }
            };
            audioTrap2.addEventListener("ended", function(){
                ctrlTrap2.className="fa fa-play fa-stack-1x fa-inverse";
            });

            trap3.onclick = function () {
                if (ctrlTrap3.className == "fa fa-play fa-stack-1x fa-inverse") {
                    ctrlTrap3.className="fa fa-pause fa-stack-1x fa-inverse";
                    audioTrap3.play();
                } else if (ctrlTrap3.className == "fa fa-pause fa-stack-1x fa-inverse") {
                    ctrlTrap3.className="fa fa-play fa-stack-1x fa-inverse";
                    audioTrap3.pause();
                }
            };
            audioTrap3.addEventListener("ended", function(){
                ctrlTrap3.className="fa fa-play fa-stack-1x fa-inverse";
            });

            trapAudioVolume.onclick = function () {
                if (ctrlAudioVolume.className == "fa fa-play fa-stack-1x fa-inverse") {
                    ctrlAudioVolume.className="fa fa-pause fa-stack-1x fa-inverse";
                    audioVolume.play();
                } else if (ctrlAudioVolume.className == "fa fa-pause fa-stack-1x fa-inverse") {
                    ctrlAudioVolume.className="fa fa-play fa-stack-1x fa-inverse";
                    audioVolume.pause();
                }
            };
            audioVolume.addEventListener("ended", function(){
                ctrlAudioVolume.className="fa fa-play fa-stack-1x fa-inverse";
                document.getElementById("audio-volume").value = 'OK';
                document.getElementById("lautstaerke").classList.remove("missing-answer");
            });


        });

        function printAudios_v3() {
            let htmlStr ='';
            let filesArr = [
                'WhiteNoise_Octfilter500_-46dBov.mp3',
                'WhiteNoise_Octfilter500_-66dBov.mp3',
                'WhiteNoise_Octfilter500_-76dBov.mp3',
                'WhiteNoise_Octfilter1000_-46dBov.mp3',
                'WhiteNoise_Octfilter1000_-66dBov.mp3',
                'WhiteNoise_Octfilter1000_-76dBov.mp3',
                'WhiteNoise_Octfilter4000_-46dBov.mp3',
                'WhiteNoise_Octfilter4000_-66dBov.mp3',
                'WhiteNoise_Octfilter8000_-46dBov.mp3',
                'WhiteNoise_Octfilter8000_-66dBov.mp3'
            ];
            let amount = 10;
            for (let i=1; i<=amount; i++) {
                htmlStr = htmlStr + '<div class="item">'+
                        '<div class="row">'+
                        '<div class="col-xs-12">'+
                        '<div id="scale-cont-'+i+'" class="col-xs-4  center-block" style="float: none; margin-bottom: 20px;">'+
                        '<audio id="audio'+i+'" controls><source id="audio'+i+'source" src="/itut/audio/noiseTest/'+filesArr[i-1]+'" type="audio/mp3"></audio>'+
                        '<h4 style="margin-left: 10%;">Haben Sie etwas gehört?</h4>'+
                        '<p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-'+i+'"><input id="1'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="Ja" disabled="disabled"/><label for="1'+i+'">&nbsp;Ja</label></label></p>' +
                        '<p style="margin-left: 15%;"><label class="col-xs-12 cursor-pointer overEffect noise-radio-'+i+'"><input id="2'+i+'" class="scale'+i+'" name="ACR'+i+'" type="radio" value="Nein" disabled="disabled"/><label for="2'+i+'">&nbsp;Nein</label></label></p>' +
                        '</div>'+
                        '</div>'+
                        '</div>'+
                        '</div>';
            }

            console.log('AUDIOS:');
            console.log(htmlStr);
        }

    })();
</script>


<script type="text/javascript">
    (function() {

        var userData = {};
        var userDataOK = false;
        var timeStamp;

        $(document).ready(function(){

            // prevent the user from refreshing the page
            document.onkeydown = function(){
                switch (event.keyCode){
                    case 116 : //F5 button
                        event.returnValue = false;
                        event.keyCode = 0;
                        return false;
                    case 82 : //R button
                        if (event.ctrlKey){
                            event.returnValue = false;
                            event.keyCode = 0;
                            return false;
                        }
                }
            };

            attachOnPlayingEvent();
        });

        timeStamp = new Date().getTime();

        function warn_user(type, msg) {
            var p = $("<p/>");
            var title;

            if (type === 'info') {
                //title = "Bitte lesen Sie die Anweisungen sorgfältig";
                title = "Informationen";
            }

            if (type === 'error') {
                title = "Etwas ging schief!"
            }
            if (type === 'warning') {
                title = "Bitte lesen Sie die Anweisungen sorgfältig";
            }
            p.html(msg);
            $(".modal-title").text(title);
            $(".modal-body").html(p);
            $("#warning").modal();
        }

        function attachOnPlayingEvent() {
            for (let i=1; i<=whiteNoiseFiles.length; i++) {
                let audioNode = document.getElementById('audio'+i);
                $('#audio'+i).one("playing", function() {
                    console.log('audio: '+i+' playing !!!');
                    for (let j=0; j<document.getElementsByClassName("scale"+i).length; j++) {
                        document.getElementsByClassName("scale"+i)[j].disabled = false;
                    }
                });
                $('#audio'+i).on("ended", function() {
                    console.log('audio ENDED: '+i+' ended!!!');
                    document.getElementById('weiter-btn').classList.remove("disable-weiter");
                    document.getElementById("weiter-btn").style.opacity = 1;
                });

                let supposedCurrentTime = 0;
                audioNode.addEventListener('timeupdate', function() {
                    if (!audioNode.seeking) {
                        supposedCurrentTime = audioNode.currentTime;
                    }
                });
                // prevent user from seeking
                audioNode.addEventListener('seeking', function() {
                    // guard agains infinite recursion:
                    // user seeks, seeking is fired, currentTime is modified, seeking is fired, current time is modified, ....
                    let delta = audioNode.currentTime - supposedCurrentTime;
                    if (Math.abs(delta) > 0.01) {
                        console.log("Seeking is disabled");
                        audioNode.currentTime = supposedCurrentTime;
                    }
                });
                audioNode.addEventListener('ended', function() {
                    // reset state in order to allow for rewind
                    supposedCurrentTime = 0;
                });

                $(".noise-radio-"+i).on('click', function (e) {
                    if ((!audioNode.ended) && !(audioNode.duration > 0 && !audioNode.paused)) {
                        e.stopPropagation();
                        warn_user('warning', 'Achtung! Bitte, hören Sie sich die "Hörprobe" an, bevor Sie eine Antwort geben.');
                    }
                });

                audioNode.load();
            }
        }

        $('#consentNo').on('click', function () {
            document.getElementById('startStudyDiv').style.display = 'none';
            document.getElementById('finishStudyDiv').style.display = 'inline';
            warn_user('warning', 'Sie haben sich entschlossen, nicht an unserer Studie teilzunehmen. Beachten Sie bitte, dass Sie die Chance verlieren, bis zu 5.88€ zu gewinnen.<br>Wenn Sie nicht an unserer Studie teilnehmen möchten, klicken Sie unten auf "Studie beenden".<br>Andernfalls klicken Sie auf "Ja" und “Start” um fortzufahren.');
        });

        $('#consentYes').on('click', function () {
            document.getElementById('startStudyDiv').style.display = 'inline';
            document.getElementById('finishStudyDiv').style.display = 'none';
        });

        $('#finishStudy').on('click', function () {
            warn_user('info', 'Vielen Dank für Ihre Zeit!<br>Zögern Sie nicht zurückzukommen, wenn Sie es sich anders überlegen.<br>Wir wünschen Ihnen einen schönen Tag.');
            $('#warning').on('hidden.bs.modal', function (e) {
                window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
            });
        });

        $('#startStudy').on('click', function () {
            document.getElementById('answer').style.display = 'inline';
        });

        document.getElementById("otherLang").addEventListener('input', function() {
            $("#language2").prop("checked", true).trigger("click");
        });

        document.getElementById("audio1").addEventListener('play', function() {
            if (!document.getElementById("trapAudioVolume-audio").ended) {
                document.getElementById("audio1").pause();
                document.getElementById("audio1").currentTime = 0;
                document.getElementById("lautstaerke").classList.add("missing-answer");
                warn_user('warning', 'Achtung! Bitte, hören Sie sich die "Lautstärke" an, und stellen Sie die Lautstärke auf ein angenehmes Niveau ein, bevor Sie den "Rauschhörtest" durchführen.');
            }
        });



        let totalItems = $('.item').length;
        let currentIndex = $('div.active').index() + 1;
        console.log('TOTAL ITEMS !!!');
        console.log(totalItems);
        $('.num').html(''+currentIndex+'/'+totalItems+'');

        $('#myCarousel').on('slid.bs.carousel', function(event) {
            currentIndex = $('div.active').index() + 1;
            $('.num').html(''+currentIndex+'/'+totalItems+'');

            if (event.direction != 'right' && !$('input[name=ACR'+currentIndex+']:checked').val()) {
                document.getElementById('weiter-btn').classList.add("disable-weiter");
            } else if ($('input[name=ACR'+currentIndex+']:checked').val()) {
                document.getElementById('weiter-btn').classList.remove("disable-weiter");
            }
        });

        $('#weiter-btn').one("click", function() {
            console.log('SHOWING PREVIOUS BTN !!!');
            document.querySelector(".left.carousel-control").style.display = 'inline';
            if (document.getElementById('weiter-btn').classList.contains("disable-weiter")) {
                warn_user('warning', 'Achtung! Bitte hören Sie sich die aktuelle Sprachprobe an und bewerten Sie diese, bevor Sie fortfahren.');
            }
        });


        for (let i=1; i<=3; i++) {
            $("#trap"+i+"-audio").one('ended', function (e) {
                for (let j=1; j<=3; j++) {
                    document.getElementById("math"+i.toString()+j.toString()).disabled = false;
                }
            });
        }
        for (let i=1; i<=3; i++) {
            $(".questions-radio-"+i).on('click', function (e) {
                if (!document.getElementById("trap"+i+"-audio").ended) {
                    warn_user('warning', 'Achtung! Bitte, hören Sie sich das "Test-Beispiel" an, bevor Sie eine Antwort geben.');
                }
            });
        }


        var answer = [];

        $('.btn-answer').off('click').on('click', function(evt) {

            if (!userDataOK) {
                var demogData = $("#demographic-data").serializeArray();
                if (demogData.length == 6) {
                    userData['userID'] = userID[2];

                    for (var i=0; i<demogData.length; i++) {
                        if (demogData[i].name != 'otherLang') {
                            userData[demogData[i].name] = demogData[i].value;
                        }
                    }
                    if ($("input[name=language]:checked").val() == 'Other') {
                        userData['language'] = $("input[name=otherLang]").val();
                    } else if ($("input[name=language]:checked").val() == 'Deutsch') {
                        userData['language'] = 'Deutsch';
                    }
                    userData['userIP'] = userIP;
                    userDataOK = true;

                } else {
                    if (!$("select[name=age]").val()) {
                        document.getElementById("ageDiv").classList.add("missing-answer");
                        $('html, body, main').animate({ scrollTop: 400 }, 'fast');
                        $('select[name=age]').click(function(){
                            document.getElementById("ageDiv").classList.remove("missing-answer");
                        });
                    }
                    if (!$("input[name=gender]:checked").val()) {
                        document.getElementById("genderDiv").classList.add("missing-answer");
                        $('input[name=gender]').click(function(){
                            document.getElementById("genderDiv").classList.remove("missing-answer");
                        });
                    }
                    if (!$("input[name=language]:checked").val()) {
                        document.getElementById("languageDiv").classList.add("missing-answer");
                        $('input[name=language]').click(function(){
                            document.getElementById("languageDiv").classList.remove("missing-answer");
                        });
                    }
                    if (!$("input[name=audioExperience]:checked").val()) {
                        document.getElementById("audioExperienceDiv").classList.add("missing-answer");
                        $('input[name=audioExperience]').click(function(){
                            document.getElementById("audioExperienceDiv").classList.remove("missing-answer");
                        });
                    }
                    if (!$("input[name=country]:checked").val()) {
                        document.getElementById("countryDiv").classList.add("missing-answer");
                        $('input[name=country]').click(function(){
                            document.getElementById("countryDiv").classList.remove("missing-answer");
                        });
                    }
                }
            }

            let userDataNoise = true;
            let fileRegExp = /Octfilter(\d+)\_(\-\d+)dBov/;
            for (let i=1; i<=whiteNoiseFiles.length; i++) {
                if (!$('input[name=ACR'+i+']:checked').val()) {
                    $('.carousel').carousel(i-1);
                    document.getElementById('scale-cont-'+i).classList.add("missing-answer");

                    $('input[name=ACR'+i+']').one("change", function() {
                        document.getElementById('scale-cont-'+i).classList.remove("missing-answer");
                    });
                    userDataNoise = false;
                    break;
                }

                let fileName = fileRegExp.exec(document.getElementById('audio'+i).currentSrc);
                userData[fileName[1]+'Hz'+fileName[2]] = $('input[name=ACR'+i+']:checked').val();
            }


            let trapQxOK = false;
            if ($("input[name=trap1]:checked").val() && $("input[name=trap2]:checked").val() && $("input[name=trap3]:checked").val()) {
                trapQxOK = true;
                /*trapQx['trap1'] = $("input[name=trap1]:checked").val();
                trapQx['trap2'] = $("input[name=trap2]:checked").val();
                trapQx['trap3'] = $("input[name=trap3]:checked").val();*/

                userData['trap1'] = $("input[name=trap1]:checked").val();
                userData['trap2'] = $("input[name=trap2]:checked").val();
                userData['trap3'] = $("input[name=trap3]:checked").val();
                userData['trapSF'] = "";

            } else if (!$("input[name=trap1]:checked").val()) {
                document.getElementById("trap1Div").classList.add("missing-answer");
                $('input[name=trap1]').click(function(){
                    document.getElementById("trap1Div").classList.remove("missing-answer");
                });
            } else if (!$("input[name=trap2]:checked").val()) {
                document.getElementById("trap2Div").classList.add("missing-answer");
                $('input[name=trap2]').click(function(){
                    document.getElementById("trap2Div").classList.remove("missing-answer");
                });
            } else if (!$("input[name=trap3]:checked").val()) {
                document.getElementById("trap3Div").classList.add("missing-answer");
                $('input[name=trap3]').click(function(){
                    document.getElementById("trap3Div").classList.remove("missing-answer");
                });
            }



            if (!userDataOK) {
                warn_user('warning', 'Alle Felder der demografischen Daten sind verpflichtend.');
            } else if (!userDataNoise) {
                warn_user('warning', 'Achtung! Bitte hören Sie sich alle Hörproben an und bewerten Sie diese, bevor Sie ihre Antwort senden.');
            } else if (!trapQxOK) {
                warn_user('warning', 'Alle der Deutschkenntnisse Test-Beispliel sind verpflichtend.');
            } else {

                let userConsent = $("input[name=consent]:checked").val();
                let currentTime = new Date().getTime();
                let elapsedTime = currentTime - timeStamp;
                let elapsedTimeSec = Math.round(elapsedTime / 1000);

                userData['timeSec'] = elapsedTimeSec;
                userData['consent'] = userConsent;

                console.log(JSON.stringify(userData));

                $.ajax({
                    url: 'https://'+urlEnv+'/itut/qualifikation',
                    type: 'POST',
                    data: JSON.stringify(userData),
                    cache: false,
                    dataType: 'json',
                    contentType: 'application/json',
                    processData: false
                }).done(function(data) {
                    console.log(data);
                    // scroll the page up
                    $('html, body, main').animate({ scrollTop: 0 }, 'fast');
                    if (data.code) {

                        let elemnt = document.getElementById("collapseLevels");
                        elemnt.outerHTML = "";
                        delete elemnt;
                        window.location.replace("https://"+urlEnv+"/success/"+data.code);

                    } else {

                        let elemnt = document.getElementById("collapseLevels");
                        elemnt.outerHTML = "";
                        delete elemnt;
                        let p = $("<p style='font-size: 18px; text-align: center;'>Entschuldigung, Sie sind durch den Deutschkenntnistest durchgefallen.<br>Vielen Dank für die Teilnahme!</p>");
                        $(".mt-dynamic").text("Bitte lesen Sie die Anweisungen sorgfältig");
                        $(".mb-dynamic").html(p);
                        $("#warning").modal();
                        $('#warning').on('hidden.bs.modal', function (e) {
                            window.location.replace("https://marketplace.clickworker.com/en/marketplace/home");
                        });

                    }
                }).fail(function (error) {
                    console.log(error);
                });

            }

        });

    })();
</script>