<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<div class="col-xs-8 center-block" style="float: none;">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align: center;">
            <h4 class="panel-title">Vielen Dank für Ihr Interesse an der Teilnahme!</h4>
        </div>
        <div class="panel-body">
            <p style="font-size: 18px; text-align: center; font-weight: 600;">Entschuldigung, wir haben festgestellt, dass Sie bereits zuvor an einem Hörtest teilgenommen haben.</p>
        </div>
    </div>
</div>
